
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0d1117;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  min-height: 80vh;
  width: 80vw;
  margin: auto;
  background: #161b22;
  border-right: 2px solid rgba(255,255,255,0.2);
  border-left: 2px solid rgba(255,255,255,0.2)
}

.card{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

svg {
  color: white !important
}