
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0d1117;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 70vw;
  margin: auto;
}
