<mat-toolbar>
    <mat-icon>library_books</mat-icon>
    <span>Books App</span>
    <span class="example-spacer"></span>
    <div class="header-buttons">
      <button mat-fab extended color="primary" [routerLink]="['/available-books']" routerLinkActive="router-link-active" >
        <mat-icon>library_books</mat-icon>
        Libros disponibles
        <span>{{ availableBooks.length }}</span>
      </button>
      <button mat-fab extended color="primary" [routerLink]="['/reading-list']" routerLinkActive="router-link-active">
        <mat-icon>favorite</mat-icon>
        Lista de lectura
        <span>{{ readingListBooks.length }}</span>
      </button>
    </div>
  </mat-toolbar>