---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<section>
    <div class="flex justify-between items-center">
        <h2 class="text-xl drop-shadow-text font-bold">{title}</h2>
        <div class="counter">
            <div class="counter__line"></div>
        </div>
    </div>
    <div>
        <slot />
    </div>
</section>

<style>
    .counter {
        position: relative;
        height: 0.4em;
        width: clamp(1em, 40vw, 50em);
        background-color: rgba(255, 255, 255, 0.281);
        border-radius: 0.3em;
    }

    .counter__line {
        width: 30%;
        height: 100%;
        background-color: white;
        border-radius: 0.3em;
        filter: drop-shadow(0px 0px 3px white);

        animation: counter-progress linear;
        animation-duration: auto;
        animation-timeline: --latests-products;
    }

    @keyframes counter-progress {
        to {
            width: 100%;
        }
    }
</style>
