.appear {
  animation: appear 0.5s ease 1;
}

.disappear {
  animation: disappear 0.5s ease 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
