.wishlistbooks {
  .mySwiper {
    width: 250px;
    height: 350px;
    margin: 50px auto;

    .swiper-slide {
      .title {
        line-height: 1em;
        padding: 0px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      padding: 10px;
      gap: 20px;
      background-color: black;
      &:nth-child(1n) {
        background-color: rgb(170, 5, 176);
      }
      &:nth-child(2n) {
        background-color: rgb(0, 140, 255);
      }
      &:nth-child(3n) {
        background-color: rgb(10, 184, 111);
      }
      &:nth-child(4n) {
        background-color: rgb(211, 122, 7);
      }
      &:nth-child(5n) {
        background-color: rgb(118, 163, 12);
      }
      &:nth-child(6n) {
        background-color: rgb(180, 10, 47);
      }
      &:nth-child(7n) {
        background-color: rgb(35, 99, 19);
      }
      &:nth-child(8n) {
        background-color: rgb(0, 68, 255);
      }
      &:nth-child(9n) {
        background-color: rgb(218, 12, 218);
      }
      &:nth-child(10n) {
        background-color: rgb(54, 94, 77);
      }
    }
  }
}
