@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anton';
  src: url('/assets/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Cince Regular';
  src: url('/assets/fonts/CinzelDecorative-Regular.ttf');
}

@font-face {
  font-family: 'Cince Bold';
  src: url('/assets/fonts/CinzelDecorative-Bold.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton';
}

p,
span,
div,
a {
  font-family: 'Cince Regular';
}

body.cart-open {
  overflow: hidden;
}