<form class="flex flex-col sm:flex-row gap-4">
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Filter by pages</span>
    </label>
    <input
      type="range"
      min="0"
      max="1500"
      value="40"
      class="range range-accent range-sm w-full max-w-xs"
    />
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Filter by genre</span>
    </label>
    <select class="select select-bordered">
      <option disabled selected>Pick one</option>
      <option [value]="genre" *ngFor="let genre of genres()">
        {{ genre }}
      </option>
    </select>
  </div>
</form>
