<form class="flex flex-col sm:flex-row gap-4">
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Filter by pages</span>
    </label>
    <div class="flex gap-2 justify-center items-center">
      <input
        type="range"
        min="0"
        max="1500"
        [value]="filters().pages"
        class="range range-accent range-sm w-full max-w-xs"
        (change)="onInputRangeChange($event)"
      />
      <span class="text-xs">{{ filters().pages }}</span>
    </div>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Filter by genre</span>
    </label>
    <select class="select select-bordered" (change)="onSelectChange($event)">
      <option
        [value]="genre"
        [selected]="genre === filters().genre"
        *ngFor="let genre of genres()"
      >
        {{ genre }}
      </option>
    </select>
  </div>
</form>
