li.book{
  height: 250px;
  border-radius: 8px;
  position: relative;
  border: 2px solid transparent;
  transition: border-color 150ms linear;
  position: relative;
  overflow: hidden;
}

li.book:hover{
  border: 2px solid #09f;
}

li.book img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 150ms linear;
}

li.book:hover img{
  filter: blur(2px);
  opacity: 0.2;
  transform: scale(1.1);
}

.book-info ul li .book-info{
  display: none;
  transition: all 250ms linear;
  opacity: 0;
}

li.book:hover .book-info{
  display: grid;
  gap: 6px;
  position: absolute;
  top: 0px;
  padding: 12px;
  height: calc(100% - 24px);
  width: calc(100% - 24px);
  opacity: 1;
}

li.book .book-info{
  display: none;
  transition: all 250ms linear;
  opacity: 0;
}

.book-info h2 {
  font-size: 14px;
  margin: 0;
}

.book-info span {
  font-size: 12px;
}