aside.read-list{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  background-color: #2D2D2D;
  border-radius: 14px;
  padding: 1rem;
  overflow: hidden;
  gap: 12px;
}

.read-list .title{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}

.read-list .title svg{
  fill: #09f;
}

.read-list .title-container{
  display: flex;
  flex-direction: column;
}

.read-list .title-container .separator{
  width: 50%;
  height: 3px;
  border-radius: 20px;
  background-color: #09f;
}

.read-list .title h2{
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

.read-list ul.user-books{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 250px;
  gap: 12px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

/** Overriding SingleBook.css */
.read-list ul.user-books li.book .priority-badge{
  cursor: pointer;
  position: absolute;
  top: -22px;
  right: 0px;
  transition: all 150ms linear;
}

.read-list ul.user-books li.book .priority-badge:hover{
  transform: scale(1.2);
}

.read-list ul.user-books li.book .priority-badge svg{
  fill: #09f;
  filter: drop-shadow(0px 11px 8px #000);
}