@import "./utils/variables.scss";
@import "./utils/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding-bottom: 5vh;
  background-color: $color-primary;
}

@import "./components/app";
@import "./components/header";
@import "./components/combobox";
@import "./components/libro";
@import "./components/spinner";
@import "./components/footer";
