:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: $color-font;
  background-color: $color-background;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* max-width: 1280px; */
/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.favoritos button {
  background-color: pink;
}

.listaContainer {
  /* border-style: double;
  border-radius: 1em;
  border-color: green; */
  display: flex;
  flex-direction: row;
  margin: 5em;
  width: 90%
}

.disponibles {
  @include listas;
  width: 80%;
  border-color:green;
}
.favoritos {
  @include listas;
  width: 30%;
  border-color: pink;
}

.listaLibros {
  list-style: none;

  //width: 100%;
}  
.libro {
  padding: 1em;

}