.portada {
    cursor: pointer;
    width: 30%;
    height: auto;
    padding-top: 1em;
}

.libros {
    flex: 1 20%;
  color: $color-font;
  /*  background-color: $color-third;*/

  display: flex;
  margin: auto;

  border-style: double;
  border-radius: 1em;

  min-width: 30%;
  padding: 1em;
  margin: 2em;

  overflow: hidden;

  /* flex: 1 20%; */
  text-align: center;
  flex-direction: column;
  border-style: double;
  border-radius: 0.5em;
  margin: 1em;
  box-shadow: 5px 5px 10px;
  word-wrap: break-word;
  overflow: hidden;

  & p {
    margin-bottom: 1em;
  }
  & button {
    margin: 1em 0em 1em 0em;
  }
  & input {
    margin-bottom: 1em;
  }

  @media (max-width: 900px) {
    min-width: 40%;
  }
  @media (max-width: 500px) {
    min-width: 70%;
  }
}

.listalibros {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: pink;
}
