.card{
    width: 14rem;
    height: 20rem;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    position: relative;
}

.card-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}