@font-face {
  font-family: "Basteleur";
  src: url("../public/fonts/Basteleur/Basteleur-Moonlight.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Basteleur";
  src: url("../public/fonts/Basteleur/Basteleur-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainSection {
  display: grid;
  grid-template-columns: auto 80%;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
}

header > h1 {
  border-right: 5px solid black;
  background-color: #d9d9d9;
  font-family: Basteleur;
  font-weight: bold;
  font-size: 4.2rem;
  padding: 0 2rem;
}

.booksListContainer {
  background-color: #e4cdcd;
  border: 5px solid black;
  min-height: 87.7vh;
}
.booksListContainer > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.booksListContainer > ul > li {
  width: min-content;
  margin: 0 auto;
}

.bookUi {
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0.788);
  cursor: pointer;
  box-shadow: 10px 10px 0 0px;
  background-color: white;
  width: 15rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookUi > img {
  border: 4px solid black;
  width: 50%;
  margin-bottom: 10px;
}

.bookUi > p {
  text-align: center;
}

.bookUi > p:nth-child(2) {
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid black;
}

.bookUi > p:nth-child(3) {
  margin-bottom: 20px;
  margin-top: 0;
  background-color: rgba(128, 128, 128, 0.603);
  width: 100%;
  padding: 4px;
}

/* /////SEACH/////// */

.searchSection {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  border: 5px solid black;
  height: min-content;
  padding: 1rem;
  box-shadow: 6px 6px 0 0;
}

.searchSection > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.searchSection > ul > li:nth-child(odd) {
  font-family: Basteleur;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

.searchSection > ul > li:nth-child(1)::after,
.searchSection > ul > li:nth-child(3)::after,
.searchSection > ul > li:nth-child(5)::after {
  display: block;
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 10px;
  z-index: -1;
  background-color: #fff700;
}

.searchSection > ul > li > input {
  padding: 7px;
  border: 2px solid black;
  background-color: #d9d9d9;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.searchSection > ul > li:nth-child(even) {
  margin-bottom: 1.5rem;
}

.searchSection > ul > li > select {
  padding: 0.5rem;
  border: 2px solid black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  box-shadow: 4px 4px 0 0;

  font-size: 1rem;
}

.searchSection > ul > li > button {
  padding: 0.5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  background-color: #d9d9d9;
  box-shadow: 4px 4px 0 0;
}

.searchSection > ul > li:last-child::after {
  content: "X";
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #dd7dff;
  border: 3px solid black;
  position: absolute;
  right: 25px;
  box-shadow: 4px 4px 0 0;
  transform: rotate(12deg);
}

.searchSection > ul > li:last-child {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SabedBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SabedBooks > ul {
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.SabedBooks > ul > li {
  border: 4px solid black;
  position: relative;
  background-color: #fff700;
  padding: 0 1rem;
  box-shadow: 4px 4px 0 0;
}
.SabedBooks > ul > li > p {
  user-select: none;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: 90%;
  min-width: 9rem;
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
  height: 2rem;
}

.SabedBooks > ul > li > span {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-family: Basteleur;
  font-weight: bolder;
  background-color: #dd7dff;
  border: 3px solid black;
  box-shadow: 4px 4px 0 0;
  transform: rotate(12deg);
}
