<div
  class="card card-compact w-full bg-neutral text-neutral-content transition-all hover:contrast-75 cursor-pointer rounded"
>
  <div class="card-body items-center text-center">
    <figure>
      <img
        [src]="book.cover"
        [alt]="'Book of ' + book.title"
        class="w-full min-h-[320px] object-contain rounded"
      />
    </figure>
    <h2>{{ book.title }}</h2>
  </div>
</div>

<!-- <img
  [src]="book.cover"
  [alt]="'Book of ' + book.title"
  class="w-full h-[400px] object-contain rounded"
/> -->
