---
import Layout from "../layouts/Layout.astro"
import MiComponente from "../components/Header.astro"
---

<Layout>
  <h1 class="font-semibold text-6xl font-amulya flex justify-center gap-3 m-10">
    <span class="text-primary">Synde</span> Library
  </h1>

  <section class="w-3/4 h-full m-auto overflow-auto">
    <MiComponente />
    <!-- filter -->

    <main class="mt-6 ">

        <ul class="grid-cols-5 grid w-full gap-5 overflow-auto" id="">
          <li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li>

          <li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li>

          <li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li>
          <li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li><li class="">
            <a href="#" class="relative group">
              <img
                class=""
                src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
                alt=""
              />
              <div
                class="bg-gray-950 absolute top-0 h-full w-full opacity-0 group-hover:opacity-40"
              >
              </div>
            </a>
  
            <h3 class="text-center font-semibold mt-4 text-xl">tittle</h3>
          </li>
         
        </ul>

    </main>
  </section>
</Layout>

<style>
  body {
    background: url(../../img/bg.webp);
  }
</style>

<script>
  async function getData() {
    try {
      const res = await fetch("/books.json")
      const data = await res.json()
      const ul = document.getElementById("library")
      const library = data.library

      library.map((each) => {
        const li = document.createElement("li")
        li.appendChild(ul)

        li.innerHTML = `

          `
      })
    } catch (error) {
      console.error(`valiste, ya tienes otro error🤦${error}`)
    }
  }

  getData()
</script>
