---
import Layout from "../layouts/Layout.astro"
import MiComponente  from "../components/Header.astro"



---

<Layout>
  <h1 class="font-semibold text-6xl font-amulya flex justify-center gap-3 m-10">
    <span class="text-primary">Synde</span> Libery
  </h1>

  <section class="w-3/4 h-full m-auto overflow-hidden">
    <!-- filter -->
    <MiComponente />

	 <main class="">

	 </main>

	 
  </section>
</Layout>



<script>
	
</script>
