.filterComponent > * {
    user-select: none;
}

.countFragment{
    min-width: 100%;
}

.rangeComponent {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

.rangeComponent > select {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: none;
    background-color: transparent;
    color: white;
} 

.rangeComponent > select > option {
    background-color: grey;
}

.range {
    position: relative;
    min-width: 100%
}

.filterBox {
    min-width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}