.lateral{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
    border-right: 1px solid gray;
    position: sticky;
    top: 7rem;
    color: rgb(110, 84, 18);
    padding: 0 1.5rem;
    gap: 2rem;
}

.select{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.select>select{
    width: 100%;
    height: fit-content;
    padding: .5rem 1rem;
    border: 1px solid rgb(110, 84, 18);
    border-radius: 2rem;
    appearance: none;
}

.select >select:focus{
    outline: none;
}

.range{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.range >div{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.range-input{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .7rem;
  border-radius: 5px;
  background: rgb(110, 84, 18);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-input:hover{
    opacity: 1;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(110, 84, 18);
  cursor: pointer;
  box-shadow:0px 0px 11px 8px rgba(0,0,0,0.26);
  background: url(https://cdn-icons-png.flaticon.com/128/7344/7344900.png) rgb(110, 84, 18);
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

.range > div > span{
    font-weight: 500;
    font-size: larger;
}

.counters{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.counters >div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.count{
    font-size: larger;
    font-weight: 700;
}