#app {
  width: 100vw;
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.headerTabs{
  display: flex;
  margin-bottom: 10px;
  font-size: clamp(0.8rem, 1vw, 1.5rem) !important;
}

.headerTabs span{
  width: 45vw;
  border: 1px solid rgb(109, 109, 109);
  color: rgb(230, 230, 230);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerTabs span:hover{
  background-color: rgb(109, 109, 109);
}

.selectedTab{
  border: 1px solid white !important;
  color: white !important;
}

.selected {
  opacity: 25%;
  background-color: black;
}

.bookCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  min-height: 275px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  transition-duration: 0.3s;
}

.bookCard:hover{
  transform: scale(105%);
  transition-duration: 0.3s;
}

.bookCard header {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.bookCard header:hover {
  overflow: visible; 
  white-space: normal;
  height: auto;
}

.bookCover {
  width: 150px;
  height: 210px;
}