#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selected {
  opacity: 25%;
  background-color: black;
}

.bookCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  min-width: 150px;
  min-height: 225px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  transition-duration: 0.3s;
}

.bookCard:hover{
  transform: scale(105%);
  transition-duration: 0.3s;
}

.bookCard header {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.bookCard header:hover {
  overflow: visible; 
  white-space: normal;
  height: auto;
}