#app {
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.headerTabs{
  display: flex;
  margin-bottom: 10px;
  font-size: clamp(0.8rem, 1vw, 1.5rem) !important;
}

.headerTabs span{
  width: 45vw;
  border: 1px solid rgb(109, 109, 109);
  color: rgb(230, 230, 230);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerTabs span:hover{
  background-color: rgb(109, 109, 109);
}

.selectedTab{
  border: 1px solid white !important;
  color: white !important;
}

.selected {
  opacity: 25%;
  background-color: black;
}

.bookCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: clamp(160px, 15vw, 200px);
  min-height: clamp(150px, 10vh, 275px);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  transition-duration: 0.3s;
}

.bookCard:hover{
  transform: scale(105%);
  transition-duration: 0.3s;
}

.bookCard header {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.bookCard header:hover {
  overflow: visible; 
  white-space: normal;
  height: auto;
}

.bookCard button {
  background-color: rgb(243, 155, 40);
  border: none;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  color: white;
}

.bookCard footer{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bookCover {
  width: 150px;
  height: 210px;
}

@media only screen and (max-width: 600px) {
  .bookCover {
    width: 100px;
    height: 140px;
  }
}
