---
import MainLayout from "@layouts/MainLayout.astro";
---


<MainLayout title="Bazar universal" description="Tienda implementada para la prueba técnica #2 de midudev basada en una prueba de Mercado Libre" keywords={['prueba tecnica','desarrollo','tienda online']}>
    <h1>Prueba</h1>
</MainLayout>