:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Variables */
  --header-color: #232323;
  --books-container-color: #27272a;
  --books-heading-color: #3730a3;
  --reading-heading-color: #0891b2;
}

body {
  margin: 0;
  padding: 0;
}

.header-style {
  background-color: var(--header-color);
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 900;
}

.header-content .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books-container {
  display: flex;
  flex-direction: column;
}

.reading-container {
  display: flex;
  flex-direction: column;
}

.books-cards {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px
}

.book-card:hover {
  filter: contrast(.75);
  transform: scale(1.02);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.books-heading-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: var(--books-heading-color);
}

.books-heading-h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 20px 40px;
  height: 30px;
  width: 100%;
  background-color: var(--books-heading-color);
}

.reading-heading-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: var(--reading-heading-color);
}

.reading-heading-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 20px 0px;
  height: 30px;
  width: 100%;
  background-color: var(--reading-heading-color);
}

.empty-reading-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
}