---
export const prerrender = false;
import ProductsResultSection from "@components/ProductsResultSection.astro";
import SearchForm from "@components/SearchForm.astro";
import MainLayout from "@layouts/MainLayout.astro";
---
<MainLayout  title="Resultados de busqueda" description="Tienda implementada para la prueba técnica #2 de midudev basada en una prueba de Mercado Libre" keywords={['prueba tecnica','desarrollo','tienda online']}> 
    <section class="max-w-sm sm:max-w-md md:max-w-4xl mx-auto min-h-screen">
        <SearchForm />
        <ProductsResultSection />
    </section>
</MainLayout>