---
import MainLayout from "@layouts/MainLayout.astro";
const {searchParams} = Astro.url
const searchValue = searchParams.get('search')

const response = await fetch('https://backend-prueba-tecnica-02.onrender.com/api/items?search=perfume&page=0');
console.log(response)
const data = await response.json();
console.log(data)
---
<MainLayout  title="Resultados de busqueda" description="Tienda implementada para la prueba técnica #2 de midudev basada en una prueba de Mercado Libre" keywords={['prueba tecnica','desarrollo','tienda online']}> 
    <section class="w-full min-h-screen">
        <h1>{JSON.stringify(data)}</h1>
    </section>
</MainLayout>