.book {
  margin-left: 15px;
  width: 150px;
  padding: 20px 16px;
  border-radius: 12px;
  height: 270px;
  border: 1px solid black;
}

.book--cover {
  width: 150px;
  border-radius: 12px;
  display: block;
}

.book--title {
  font-size: 18px;
}
