.book {
  margin: 15px;
  width: 140px;
  height: 210px;
  padding: 20px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book--cover {
  width: 120px;
  height: 160px;
  margin: 0 auto;
  border-radius: 12px;
}

.book--title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
