.button-28 {
  border-radius: 20%;
  font-size: 16px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
}

.button-28:active {
  box-shadow: none;
}
