.button-28 {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #2b2a33;
}

.button-28:hover {
  color: #fff;
  background-color: #3c4654;
}

.button-28.active,
.button-28.focus {
  box-shadow: none;
  outline: none;
  background-color: #3399ff;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 1024px) {
  /* Media query para iPads o tablets */
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .button-28 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .button-28 {
    width: 100%; /* Otra opción: width: auto; */
  }
}
