.BookAvailableInfo {
  position: relative;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* height: 190px; */
}

.BookAvailableReading {
  position: relative;
  display: flex;
  height: 190px;
  width: 130px;
}

.BookAvailableCover {
  position: relative;
  z-index: 10;
  width: 96%;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.BookColumn {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 7%;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset rgba(0, 0, 0, 0.56) 0px 3px 5px 2px;
}

.BorderSheets {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 4%;
  background-color: #aea190;
  border: 1px solid #aea190;
  clip-path: polygon(0 2%, 0 2%, 100% 10%, 100% 90%, 0 98%, 0 98%, 0% 70%, 0% 30%);
}

.Sheets {
  width: 100%;
  height: 100%;
  background-color: #f3f1ee;
  clip-path: polygon(0 4%, 0 4%, 100% 10%, 100% 90%, 0 96%, 0 96%, 0 65%, 0% 30%);
}

.BookAvailableShadow {
  top: 0;
  left: -5%;
  width: 165%;
  height: 115%;
  position: absolute;
  z-index: 1;
  clip-path: polygon(25% 0, 58% 0, 79% 40%, 100% 76%, 100% 100%, 30% 100%, 16% 70%, 18% 31%);
  background: rgb(0,0,0);
  background: linear-gradient(325deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.12368697478991597) 43%, rgba(0,0,0,0.23853291316526615) 61%, rgba(0,0,0,0.3897934173669467) 77%, rgba(0,0,0,0.7091211484593838) 100%);
}

.BookAvailableTitlesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.BookAvailableTitle {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Libre Caslon Text', serif;
  text-align: center;
  color: #2c1810;
}

.BookAvailableAuthor {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #9b9a9a;
}