.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  width: min-content;
}

.searchContainer__label,
.searchContainer__message {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.searchContainer__input {
  padding: 0.2em 0.4em;
  width: 40ch;
  border: solid 2px #444;
  border-radius: 4px;
  background-color: #fff1;
  color: rgba(255 255 255 / 0.85);
  transition: background-color linear 99999s, color linear 99999s;
}

.searchContainer__input:autofill {
  background-color: #fff1;
  color: rgba(255, 255, 255, 0.85);
}

.searchContainer__input::placeholder {
  color: rgb(255 255 255 / 0.75);
}
