.suggestSection {
  display: grid;
  grid-template-areas:
    'suggestionTitle suggestionTitle'
    'suggestionSubtitle suggestionSubtitle'
    'suggestionSynopsis suggestionImgBook'
    'suggestionButton suggestionImgBook';
  grid-template-columns: minmax(10ch, 40ch) min-content;
  grid-template-rows: auto auto min-content 1fr;
  column-gap: 1.5rem;
  place-content: center;
  position: relative;
}

.suggestSection__info__button {
  grid-area: suggestionButton;
}

.suggestSection__info__button[aria-disabled='true'] {
  cursor: not-allowed;
}

.suggestSection__info__button[aria-disabled='true']:hover + .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.suggestSection__title {
  grid-area: suggestionTitle;
  max-width: 100%;
  margin-bottom: 0.25em;
  color: var(--color-primary);
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  text-wrap: balance;
  text-shadow: 2px 2px 5px rgb(18 131 181 / 30%), 2px 2px 8px rgb(18 131 181 / 16%);
}

.suggestSection__subtitle,
.suggestSection__synopsis {
  font-size: 1rem;
  line-height: 1.5rem;
}

.suggestSection__subtitle {
  grid-area: suggestionSubtitle;
  margin-bottom: 0.65em;
  text-align: center;
  text-wrap: balance;
}

.suggestSection__synopsis {
  grid-area: suggestionSynopsis;
  margin-bottom: 1.4em;
  max-width: 40ch;
}

.suggestSection__img {
  grid-area: suggestionImgBook;
  max-width: none;
  place-self: center;
}

.addBookContainer {
  position: relative;
  place-self: start center;
}

.tooltip {
  --height-arrow: 0.5rem;

  position: absolute;
  bottom: calc(-100% - 2 * var(--height-arrow));
  padding: 0.3em 0.6em;
  width: fit-content;
  background-color: #6bc7ee;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tooltip::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--height-arrow));
  display: block;
  width: 1rem;
  height: var(--height-arrow);
  background-color: inherit;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

@media (min-width: 35rem) {
  .suggestSection__title {
    max-width: 20ch;
  }

  .suggestSection__title,
  .suggestSection__subtitle {
    text-align: left;
    text-wrap: inherit;
  }
}

@media (min-width: 40rem) {
  .suggestSection {
    grid-template-areas:
      'suggestionTitle suggestionImgBook'
      'suggestionSubtitle suggestionImgBook'
      'suggestionSynopsis suggestionImgBook'
      'suggestionButton suggestionImgBook';
    column-gap: 3rem;
  }
}

@media (min-width: 96rem) {
  .suggestSection__subtitle,
  .suggestSection__synopsis,
  .suggestSection__info__button {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
