.suggestSection__info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.suggestSection__info__button {
  padding: 0.2em 0.8em;
  width: fit-content;
  border-radius: 0.375rem;
  border-width: 0;
  font-weight: 600;
}

.suggestSection__synopsis {
  margin-bottom: 1.4em;
  max-width: 40ch;
  font-size: 1rem;
  line-height: 1.5rem;
}

.suggestSection__title {
  margin-bottom: 0.15em;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.suggestSection__subtitle {
  margin-bottom: 0.65em;
  font-size: 1rem;
  line-height: 1.5rem;
}
