{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 160,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
