.book{
display: flex;
border: 2px solid blue;
border-radius: 4%;
overflow: hidden;
max-width: 200px;
height: max-content;
max-height: 250px; 
}

.cover{
    display: flex;
    width: 50px;
    height: auto;
}

.book:hover{
    cursor: pointer;
}