// Text color
$primary-color: #f4f1ec;
$primary-text-color: #1c2a39;
$secondary-text-color: #000;
$tertiary-text-color: #5c6a79;
$lateral-panel-color: #e7e2d7;
$quaternary-text-color: #f4f1ec;
$disabled-text-color: #b7b9bc;
$event-text-color: #333;
$active-text-color: #c96234;
$mobile-aux-text-color: #eeecec;

// Button color
$primary-button-color: #c96234;
$secondary-button-color: #1e1e1e;
$tertiary-button-color: #f4f1ec;
