// Fonts imported
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

// Used fonts
$primary-font: "Newsreader", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// Font sizes
$fontSize-6rem: 6rem;
$fontSize-5rem: 5rem;
$fontSize-3rem: 3rem;
$fontSize-2-5rem: 2.5rem;
$fontSize-2rem: 2rem;
$fontSize-1-5rem: 1.5rem;
$fontSize-0-875rem: 0.875rem;
$fontSize-0-75rem: 0.75rem;

// Font weights
$fontWeight-900: 900;
$fontWeight-800: 800;
$fontWeight-700: 700;
$fontWeight-600: 600;
$fontWeight-500: 500;
$fontWeight-400: 400;
$fontWeight-300: 300;

// Font line-height
$fontLineHeight-primary: 130%;
$fontLineHeight-secondary: 120%;

// Font letter-spacing
$fontLetterSpacing-0-12: -0.12rem;
$fontLetterSpacing-0-02: -0.02rem;
$fontLetterSpacing-0-05: -0.05rem;
$fontLetterSpacing-0-015: -0.015rem;
$fontLetterSpacing-0-03: -0.03rem;
