* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #222222;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  column-gap: 20px;
  padding: 1rem;
}

nav button {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo {
  padding: 1rem;
  fill: white;
  border-radius: 8px;
}

header h1 {
  padding-left: .5rem;
  font-size: 1.6rem;
}

main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 240px auto;
    column-gap: 20px;
  }
}

.search {
  border: 1px solid white;
  width: 240px;
  margin: 0 auto 1rem auto;
  padding: 1rem 2rem;
  border-radius: 16px;
}

form {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

form > label {
  display: flex;
  flex-direction: column;
}

.pages-filter{
display: flex;
flex-direction: column;
}

form button {
  border: 1px solid white;
  border-radius: 4px;
  max-width: 120px;
  padding: .5rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  border: 1px solid white;
  border-radius: 8px;
  position: relative;
}

.book-card img {
  width: 100%;
  border-radius: 8px;
  z-index: 0;
  object-fit: cover;
  position: ;
}

.add-book-btn {
  width: 40px;
  border: none;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}