@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mystery Quest';
  src: url('../public/MysteryQuest.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Tilt Neon';
  src: url('../public/TiltNeon.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Handlee';
  src: url('../public/Handlee.woff2');
  font-weight: 400;
}
