/*  */
.BL_row {
  padding: 5px 0;
  max-width: 1912px;
}

#BL_control {
  padding: 0 10px 0 5px;
  margin: 5px 0;
}

.BookListCol {
  margin: 10px 0;
}


/* lazy load styles */
.LazyLoad {
  opacity: 0;
  filter: grayscale(1);
  transition: all .5s ease-out;
  min-height: 50vh;
  height: 100%;
}

.is-visible {
  opacity: 1;
  filter: grayscale(0);
}


