div.dark > div > span {
  color: var(--dark-font-1);
}

div.dark > div > div.ant-collapse-expand-icon {
  color: var(--dark-font-1);
}

.FilterHeader {
  transition-duration: .2s;
}

.FilterHeader.dark:hover {
  background-color: var(--dark-background-4);
}

.FilterHeader.light:hover {
  background-color: var(--dark-font-3);
}

.FilterHeader.light > div > span.ant-collapse-header-text:hover {
  text-decoration: underline #333333;
}

.FilterHeader.dark > div > span.ant-collapse-header-text:hover {
  text-decoration: underline var(--dark-font-1);
}

.dark.ApplyButton {
  color: var(--dark-font-4) !important;
  background-color: var(--dark-ok-1) !important;
  border: unset !important;
  box-shadow: none;
}

.dark.ClearButton {
  color: var(--dark-font-4) !important;
  background-color: var(--dark-pending-3) !important;
  border: unset !important;
  box-shadow: none !important;

}

.dark.ApplyButton:hover {
  background-color: var(--dark-ok-2) !important;
}

.dark.ClearButton:hover {
  background-color: var(--dark-pending-1) !important;
} 

.dark.GenderFilter-container > div > span {
  color: var(--dark-font-4);
}

div.dark.GenderFilter-select > div.ant-select-selector {
  padding: 0 0 0 5px !important;
  background-color: var(--dark-background-4) !important;
}

.dark.GenderFilter-select.ant-select-focused > div > span{
  color: var(--dark-font-1);
}

.dark.GenderFilter-select > span > span > svg {
  background-color: var(--dark-background-4) !important;
  color: var(--dark-background-6);
}

.dark.ant-select-dropdown {
  background-color: var(--dark-background-3);
}

.dark.ant-select-dropdown > div > .rc-virtual-list > .rc-virtual-list-holder > div > .rc-virtual-list-holder-inner > div {
  color: var(--dark-font-1);
}

.dark.ant-select-dropdown > div > .rc-virtual-list > .rc-virtual-list-holder > div > .rc-virtual-list-holder-inner > div:hover {
  background-color: var(--dark-background-1) !important;
}

.dark.ant-select-dropdown > div > .rc-virtual-list > .rc-virtual-list-holder > div > .rc-virtual-list-holder-inner > div.ant-select-item-option-selected,
.dark.ant-select-dropdown > div > .rc-virtual-list > .rc-virtual-list-holder > div > .rc-virtual-list-holder-inner > div.ant-select-item-option-active {
  color: #333333;
}

.dark.ant-select-dropdown > div > .rc-virtual-list > .rc-virtual-list-holder > div > .rc-virtual-list-holder-inner > div.ant-select-item-option-active:hover {
  color: var(--dark-font-1);
}
