.books {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .products ul {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        200px,
        1fr
      )
    );
    gap: 1rem;
    width: 100%;
  }

  .products li {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 15px;
    background: #111;
    color: #fff;
    padding: 1rem;
  }
