.reading-list-card {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.card-container {
  width: 100%;
  max-width: 24rem;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  color: #1a202c;
  margin: 0;
}

.list {
  padding: 0;
}

.list-item {
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list-item-remove-button {
  color: #475569;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.list-item-remove-button:hover {
  color: #1a202c;
}

.list-item-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-item-image-container {
  flex-shrink: 0;
}

.list-item-image {
  width: 2.75rem;
  height: 2.75rem;
}

.list-item-detail {
  flex-grow: 1;
  min-width: 0; /* This is to enable truncation */
}

.list-item-name {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1a202c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* This is to enable truncation */
}

.list-item-email {
  font-size: 0.875rem;
  color: #718096;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* This is to enable truncation */
}

@media (prefers-color-scheme: dark) {
  .card-container {
    background-color: #212b3e;
    border-color: #4a5568;
  }

  .card-title {
    color: white;
  }

  .list-item-remove-button {
    color: #4a586e;
  }

  .list-item-remove-button:hover {
    color: #5c6c85;
  }

  .list-item-name {
    color: white;
  }

  .list-item-email {
    color: #a0aec0;
  }

  .list {
    border-color: #4a5568;
  }
}
