
<div class="w-full h-full flex items-center justify-center my-4 px-2" role="search">
    <form action="/items" method="get" class="w-full h-full flex items-center justify-between sm:justify-center">
        <input type="search" name="search" id="search" placeholder="Samsung, perfume, laptop..." class="w-full h-9 px-2 text-base font-tilt font-light text-purple-950 border border-pink-200 bg-pink-100 rounded-l-lg outline-none focus:ring-2 focus:ring-pink-300 placeholder:text-pink-300">
        <button type="submit" class="bg-pink-100 border border-pink-200 h-9 py-1 px-3 rounded-r-lg text-base font-tilt font-light text-purple-950 transition-all hover:scale-105">Buscar</button>
    </form>
</div>
