.header{
    display: flex;
    min-width: 100%;
    height: auto;
    background-color: var(--primary-blue);
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 0rem 1rem 0rem;
}

.availables{
    font-weight: bold;
    font-size: 2rem;
    color: var(--secundary-blue)
}

.read{
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-beige);
}