footer {
  width: 100%;
  margin-top: 5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-color: var(--bg-dark);
  color: var(--color);
}
