@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E75C62;
  --secondary: #0d276b;
  --bgwarn: #fffcfa;
  --bgcold: #F0F4FF;
  --off: #C4C4C4;
}

html,
body {
  box-sizing: border-box;
}
