.pageLogo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    line-height: 0;
}

.pageLogoHeading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}