.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.204);
  gap: 20px;
  z-index: 99;
  position: relative;
  // border-radius: 0 0 10px 10px;
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    img {
      width: 30px;
      height: 30px;
    }
    span {
    }
  }
  .center {
    ul {
      display: flex;
      gap: 30px;
      li {
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .rigth {
    button {
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      background: #000;
      color: #fff;
      mark {
        background: #ff0000;
        padding: 2px 5px;
        font-size: 16px;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
.glow-on-hover {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  z-index: 0;
  padding: 5px 7px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  //background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
