.books {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}

/* Tablet */
@media screen and (min-width: 480px) {
  .books {
    max-width: 400px;
    /* width: 100%; */
  }

  .grid-container {
    grid-template-columns: repeat(2, auto);
  }
}

/* Small screens, laptops */
@media screen and (min-width: 768px) {
  .books {
    max-width: 650px;
  }

  .grid-container {
    grid-template-columns: repeat(3, auto);
  }
}

/* Large screens */
@media screen and (min-width: 1025px) {
  .books {
    max-width: 800px;
  }

  .grid-container {
    grid-template-columns: repeat(4, auto);
  }
}
