@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Regular';
  src: url("/fonts/Poppins-Regular.woff2") format("opentype");
}

@font-face {
  font-family: 'Poppins Light';
  src: url("/fonts/Poppins-Light.woff2") format("opentype");
}

@font-face {
  font-family: 'Poppins Bold';
  src: url("/fonts/Poppins-Bold.woff2") format("opentype");
}

@font-face {
  font-family: 'PPRader Bold';
  src: url("/fonts/PPRader-Bold.woff2") format("opentype");
}

:root {
  /* variables */
  --color: #ffffffde;
  --bg-color: #242424;

  /* default */
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}