.main {
  display: flex;
  gap: 0 30px;
  flex-flow: wrap;
  justify-content: center;
}

.main .booksCounter {
  max-width: 1000px;
  margin: 30px auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.booksCounter p {
  margin: 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
}

.genres {
  display: grid;
  gap: 10px;
}

.genres label,
.pages label {
  font-size: 1.2rem;
  font-weight: 500;
}

.genres select {
  border: 1px solid var(--color-secondary);
  height: 40px;
  width: 200px;
  background: var(--color-primary);
  font-size: 1.2rem;
  outline: none;
  border-radius: 4px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0 20px;
}

.pages {
  display: grid;
  gap: 10px;
}

.pages input {
  height: 40px;
  width: 200px;
  margin: 0;
  accent-color: var(--color-quaternary);
}

.listBooks {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3.5rem;
  }

  .main {
    flex-direction: column;
  }

  .main .booksCounter {
    text-align: center;
  }

  .genres select,
  .genres input {
    width: 150px;
  }

  .listBooks {
    width: 96%;
    margin: 0 auto;
  }
}