.main {
  display: flex;
  gap: 30px;
}

.main .booksCounter {
  max-width: 1000px;
  margin: 30px auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.booksCounter p {
  margin: 0;
  font-size: 2rem;
  line-height: 2.5rem;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
}

.genres {
  margin: 20px 0;
  display: grid;
  gap: 10px;
  justify-content: flex-start;
}

.genres label {
  font-size: 1.2rem;
  font-weight: 500;
}

.genres select {
  border: 1px solid var(--color-secondary);
  height: 40px;
  width: 200px;
  background: var(--color-primary);
  font-size: 1.2rem;
  outline: none;
  border-radius: 4px;
}

.listBooks {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 50px 0;
}