.ShelfSectionPendingBooks {
  width: 100%;
  display: flex;
}

.ShelfPendingBooks {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}