li {
    list-style-type: none;
    flex-grow: 1;
}
li img {
    width: 320px;
    display: inline;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    height: 100vh;
    width: 75%;
}