@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

:root {
  --main-color: rgb(255, 255, 255);
  --second-color: #5D4737;
  --backgrounds: #F9F3EE;
  --gray: #484646;
  --light-gray: #969090;
  /* --accent: #4F3624; */
  --accent: #fb8500;
  --accent-hover: #EA9432;
  --main-font: "Montserrat-Regular", sans-serif;
  --main-font-bold: "Montserrat-Bold", sans-serif;
}

/*Global*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  font-size: 1.6rem;
  line-height: 2;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--second-color) !important;
  font-family: var(--main-font-bold);
  line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
  font-family: var(--main-font);
  font-size: 1.6rem;
}

/* Navbar */

.Navbar {

  background-color: var(--backgrounds);

}

@media (min-width: 350px) {
    
  .navbar__container {

    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;

  }

}

.navbar__logo {

  font-size: 1.6rem;
  background-color: var(--main-color);
  padding: 1.6rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

@media (min-width: 418px) {
    .navbar__logo {

      margin-top: 1rem;
      margin-bottom: 1rem;

    }
}

.btn__submit {

  background-color: var(--accent);
  color: white;
  font-size: 1.2rem;

}

.btn__submit:hover {

  background-color: var(--accent-hover);
  color: white;

}

.navbar__label {

  font-size: 2rem;
  color: var(--second-color);

}

.navbar__form {

  margin-bottom: 2rem!important;

}

@media (min-width: 418px) {
    
  .navbar__form {

    margin-bottom: 1rem!important;

  }

}

.navbar__input {

  font-size: 1.2rem;

}

/* Filters */

.btn__filter {

  background-color: var(--accent);
  color: var(--main-color);

}

.btn__filter:hover {

  background-color: var(--accent-hover);
  color: var(--main-color);

}

.filter__select {

  font-size: 1.2rem;

}

.form__Input {

  background-color: var(--accent)!important;
  color: var(--main-color);
  font-size: 1.2rem;

}

.form__Input:hover {

  background-color: var(--accent-hover)!important;
  color: var(--main-color)!important;

}