@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TiltNeon';
    src: url('/fonts/TiltNeon-Regular-VariableFont_XROT,YROT.woff2') format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}