.homeMain {
  display: grid;
  grid-template-areas:
    'suggest suggest'
    'bookGenres books';
  grid-template-columns: 12.5rem 1fr;
  grid-template-rows: 15.625rem 1fr;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width-content);
}

.homeMain__suggestSection,
.homeMain__bookGenresSection,
.homeMain__bookDashboard {
  border-style: solid;
  border-color: transparent;
}

.homeMain__suggestSection {
  grid-area: suggest;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: var(--padding-section) var(--padding-content);
  border-width: 0 1px 1px;
  border-bottom-color: var(--border-section-color);
}

.homeMain__suggestSection__info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homeMain__suggestSection__info__button {
  padding: 0.2em 0.8em;
  width: fit-content;
  border-radius: 0.375rem;
  border-width: 0;
  font-weight: 600;
}

.homeMain__suggestSection__synopsis {
  margin-bottom: 1.4em;
  max-width: 40ch;
  font-size: 1rem;
  line-height: 1.5rem;
}

.homeMain__suggestSection__title {
  margin-bottom: 0.15em;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.homeMain__suggestSection__subtitle {
  margin-bottom: 0.65em;
  font-size: 1rem;
  line-height: 1.5rem;
}

.homeMain__bookGenresSection {
  grid-area: bookGenres;
  padding: 1em var(--padding-section) 1em var(--padding-content);
  border-width: 0 1px 0;
  border-right-color: var(--border-section-color);
}

.homeMain__bookDashboard {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-area: books;
  border-width: 0 1px 0 0;
}

.homeMain__bookListSection {
  padding: 1rem var(--padding-content);
}

.homeMain__bookListSection__title {
  margin-bottom: 0.8em;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.booksGenresSection__title {
  margin-bottom: 0.4em;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.booksGenresSection__list {
  padding-left: 0;
  list-style-type: none;
}

.booksGenresSection__listItem {
  margin-bottom: 0.6em;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.booksGenresSection__listItem__button {
  padding: 0.3em 0.6em 0.3em 0;
  background-color: transparent;
  border-width: 0;
  color: rgb(255 255 255 / 0.75);
}

@media (hover: hover) {
  .booksGenresSection__listItem__button:hover {
    color: #fff;
  }
}

@media (hover: none) {
  .booksGenresSection__listItem__button:active {
    color: #fff;
  }
}

.booksGenresSection__listItem__button.genreActive {
  color: rgb(56 189 248);
}

@media (min-width: 90.0625rem) {
  .homeMain__suggestSection {
    border-right-color: var(--border-section-color);
    border-left-color: var(--border-section-color);
  }

  .homeMain__bookGenresSection {
    border-left-color: var(--border-section-color);
  }

  .homeMain__bookDashboard {
    border-right-color: var(--border-section-color);
  }
}
