.homeMain {
  display: grid;
  grid-template-areas:
    'suggest suggest'
    'filters filters'
    'books books';
  grid-template-columns: 12.5rem 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width-content);
}

.homeMain__suggestSection,
.homeMain__bookDashboard {
  border-style: solid;
  border-color: transparent;
}

.homeMain__suggestSection {
  grid-area: suggest;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: var(--padding-section) var(--padding-content);
  border-width: 0 1px 1px;
  border-bottom-color: var(--border-section-color);
}

.homeMain__bookDashboard {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-area: books;
  border-width: 0 1px 0 0;
}

@media (min-width: 90.0625rem) {
  .homeMain__suggestSection {
    border-right-color: var(--border-section-color);
    border-left-color: var(--border-section-color);
  }

  .homeMain__bookDashboard {
    border-right-color: var(--border-section-color);
  }
}
