---
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import CustomOffcanvas from "../components/react/CustomOffcanvas/CustomOffcanvas.jsx"
import Footer from "../components/Footer.astro";
import ReadingList from "../components/react/ReadingList/ReadingList.jsx";

const { title, searchPlaceholder = '' } = Astro.props;

const isLibrosPage = Astro.url.pathname.startsWith('/Libros');
---

<!DOCTYPE html>

<html lang="es" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>
	<body>

		<nav class="navbar p-3 position-sticky top-0 bg-body-tertiary" style="z-index: 3000;">
			<div class="container-fluid gap-4">

				<a class="navbar-brand order-1" href="/Libros/1">Libros</a>

				<form class="ms-auto d-flex order-3 order-sm-2 flex-grow-1 flex-sm-grow-0" role="search"

					style="flex-basis: 335px;" action="/search"
				>
					<input class="form-control me-2" type="search" name="search" placeholder={searchPlaceholder}>

					<button class="btn btn-outline-success" type="submit">Buscar</button>
				</form>

				<div class="d-block d-lg-none order-2 order-sm-3">

					<CustomOffcanvas client:load />
				</div>
			</div>
		</nav>

		<div class="container-fluid">

			<div class="row p-0">
	
				<main class="p-0 col-md-12 col-lg-8">

					<div class="px-2">

						<slot />

					</div>
	
					<Footer />

				</main>
	
				<section class="Reading-list-container d-none d-lg-block col-4">
	
					<ReadingList client:only />
				</section>
	
			</div>
		
		</div>

	</body>
</html>

<style is:global>

	:root {

		--main-nav-height: 72px;
	}

	main {
		min-height: calc(100vh - var(--main-nav-height));

		display: flex;
		flex-direction: column;
	}

	.Reading-list-container {
        position: sticky;
        top: var(--main-nav-height);
        height: fit-content;
        padding-left: 0px;
    }
</style>
