{
    "semi": true,
    "printWidth": 140,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "useTabs": false,
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "trailingComma": "none"
}
