.footer {
  position: fixed;
  padding: 0 5rem;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #003738;
  display: flex;
  font-size: 0.8rem;
  line-height: 12px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px -1px 10px 0px rgba(0, 0, 0, 0.3);
}

.footer img {
  width: 1.5rem;
  margin-left: 0.5rem;
}

.separator {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a > span {
  border-radius: 5px;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  background-color: #ffe8d6;
  color: #017678;
}
