.main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.booksList {
	width: 65%;
}

.readingList {
	width: 35%;
}

.imgBooksList {
	object-fit: contain;
	width: 30% !important;
	position: relative !important;
	height: unset !important;
	padding-right: 20px;
	padding-top: 10px;
}

.imgReadingList {
	object-fit: contain;
	width: 25% !important;
	position: relative !important;
	height: unset !important;
	padding-right: 20px;
	padding-top: 10px;
}
