.container-cards-listofbooks {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // gap: 55px;
  // position: relative;
  // z-index: -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 55px;
  position: relative;
  z-index: -1;
  justify-content: center;
  .cards-books {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    //background: #000;
    padding: 1rem 0px;
    position: relative;
    .card-header {
      .cover-book {
        width: 298px;
        height: 396px;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 300px;
          height: 400px;
          cursor: pointer;
          transition: all 0.6s ease;
          &:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
          }
        }
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background: rgba(19, 3, 47, 0.9215686275);
      width: 300px;
      height: 400px;
      padding: 20px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      //cursor: pointer;
      //border: 1px solid red;
      border-radius: 10px;
      inset: 0;
      //top: 20px;
      margin: auto auto;
      .btn-addwishlist {
        border: none;
        background: transparent;
        width: 30px;
        height: 30px;

        .star-favorites {
          margin-bottom: 30px;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      h3 {
        margin-top: 10px;
      }
      details {
        cursor: pointer;
        margin: 20px;
        span {
          margin-right: 10px;
        }
      }
      details[open] summary ~ * {
        animation: intro 0.8s ease-in-out;
      }

      @keyframes intro {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .otherbooks {
        font-size: larger;
        font-weight: bold;
        width: 70%;
        border-top: 1px solid #ff0000;
        h5 {
          font: 0.7em system-ui;
        }
      }
    }
    &:hover .card-body {
      opacity: 1;
    }
    &:hover .cover-book img {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
    }
  }
}
.is-favorites {
  border: 1.7px solid rgb(255, 0, 0);
  border-radius: 10px;
}
