.container-cards-listofbooks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  position: relative;
  z-index: -1;
  .cards-books {
    border-radius: 10px;
    background: #000;
    padding: 3rem 10px;
    .card-header {
      .cover-book {
        img {
          width: 300px;
          height: 400px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
          }
        }
      }
    }
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        margin-top: 10px;
      }
      details {
        cursor: pointer;
        margin: 20px;
        span {
          margin-right: 10px;
        }
      }
      details[open] summary ~ * {
        animation: intro 0.8s ease-in-out;
      }

      @keyframes intro {
        0% {
          opacity: 0;
          transform: translateY(-10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .otherbooks {
        font-size: larger;
        font-weight: bold;
        width: 70%;
        border-top: 1px solid #ff0000;
        h5 {
          font: 0.7em system-ui;
        }
      }
    }
  }
}
