@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 248 250 252 / 0.8;
  --background-rgb: 30 41 59 / 1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-rgb));
}
