.readingListContainer {
    position: fixed;
    background-color: rgba(19, 19, 19, 0.649);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.readingList {
    width: 30%;
    height: 90%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 25px;
    margin-left: 250px;
}

.readingListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: #faf2e9;
}

.readingListHeader h1 {
    font-size: 1em;
    font-weight: 700;
    color: #d0c2b4
}

.readingListHeader .closeButton {
    font-size: 1.5em;
    font-weight: 700;
    color: #d0c2b4;
    cursor: pointer;
}

.readingListContent {
    height: 100%;
    overflow-y: auto;
    padding: 0 1em;
}

.readingListBooks {
    position: relative;
    display: flex;
    justify-content: center;
}

.stackedBook {
    width: 80%;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stackedBook:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.5s;
    margin-top: 20px;
}

.stackedBook:last-child:hover {
    transform: scale(1.15);
}