:root {
  --dark-color: #111;
}

/* book style start */
.book {
  max-height: 17.125rem; /* 274px/16 */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: var(--dark-color);
  width: 100%;
  height: 100%;
}

.book {
  animation: fadein 0.3s linear forwards;
}

.book--fading-out {
  animation: fadeout 0.3s linear forwards;
}

.book:hover .book__options {
  opacity: 1;
}

.book:hover .book__image {
  opacity: 0.25;
  filter: blur(2px);
}

.book__image {
  object-fit: fill;
  aspect-ratio: 9/14;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition:
    filter 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  filter: none;
}

.book__options {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.book__options-icon {
  color: white;
  padding-bottom: 8px;
}

.book__options-text {
  text-transform: uppercase;
  font-size: 0.75rem; /* 12px/16 */
  width: 50%;
  text-align: center;
}

/* book style end */

/* Tablet */
/* @media screen and (min-width: 480px) {
  .grid__item-inner {
    height: 274px;
  }
} */

/* Small screens, laptops */
/* @media screen and (min-width: 768px) {
  .grid__item-inner {
    height: 274px;
  }
} */

/* Large screens */
/* @media screen and (min-width: 1025px) {
  .grid__item-inner {
    height: 274px;
  }
} */

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
