.section{
    display: flex;
    min-width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.booklist{
    padding: 1rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
 
}

.title{
    font-size: 2rem;
    color: var(--secundary-blue)
}