<nav class="barra-filtros">
      <section class="content-filtros">
            <div class="seccion-filtro">
                  <label>Filtrar por Páginas</label>
                  <input type="range" name="page" id="page" [(ngModel)]="maxPages" min="50" max="1500" step="250">
                  <span>{{ maxPages }}</span>
            </div>
            <div class="seccion-filtro">
                  <label>Filtrar por Género</label>
                  <select [(ngModel)]="selectedGenre">
                        <option value="">Todos los géneros</option>
                        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
                  </select>
            </div>
      </section>
</nav>
<ul class="grilla">
      <div class="caja-milista" *ngIf="generalService.miLista">
            <header>
                  <button class="btn-hamburguesa" (click)="verMiLista()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                              <path
                                    d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
                        </svg>
                  </button>
                  <h2>Mi lista de lectura</h2>
            </header>
            <div class="contenedor-milista">
                  <li *ngFor="let item of misBooks" class="image-container">
                        <div class="overlay">
                              <button class="close-button" (click)="quitarBook(item.book.title)">
                                    <svg _ngcontent-oaw-c49="" xmlns="http://www.w3.org/2000/svg" height="24"
                                          viewBox="0 -960 960 960" width="24">
                                          <path _ngcontent-oaw-c49=""
                                                d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z">
                                          </path>
                                    </svg>
                              </button>
                        </div>
                        <img [src]="item.book.cover" width="140px" height="200px" (click)="BookInfo(item.book.title)">
                  </li>
            </div>
      </div>
      <div class="caja-milista caja-book" *ngIf="generalService.milibro">
            <header>
                  <button class="btn-hamburguesa" (click)="cerrarMiLibro()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                              <path
                                    d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
                        </svg>
                  </button>
            </header>
            <div class="contenedor-milista mibook" *ngIf="bookSeleccionado">
                  <li class="image-container mibook-container">
                        <img [src]="bookSeleccionado.cover" width="200px" height="280px"
                        style="
                        transform: scale(0.9) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg);
                        box-shadow: var(--negros) 7px 9px 16px, #3f4047 3px 3px 1px;
                        border: 1px solid var(--color-grises);"
                        >
                        <ul class="book-info">
                              <li>
                                    <h3>{{ bookSeleccionado.title }}</h3>
                              </li>
                              <li>
                                    <h4>Sinopsis:</h4>
                                    <p>{{ bookSeleccionado.synopsis }}</p>
                              </li>
                              <li>
                                    <h4>{{ bookSeleccionado.author.name }}</h4>
                                    <h4>Otros libros:</h4> 
                                    <p>{{ bookSeleccionado.author.otherBooks }}</p>
                              </li>
                              <li class="tag">
                                    <span>Año:{{ bookSeleccionado.year }}</span> 
                                    <span>{{ bookSeleccionado.genre }}</span> 
                                    <span>{{ bookSeleccionado.pages }} pág.</span>
                              </li>
                        </ul>
                  </li>
            </div>
      </div>
      <li *ngFor="let item of filteredBooks">
            <img class="tapa" [src]="item.book.cover" width="140px" height="200px" (click)="selectBook(item)">
      </li>
</ul>