.grilla {
      margin: 0 10%;
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      padding: 10px;
      padding-bottom: 60px;
      justify-content: flex-start;
}

.grilla li .tapa:hover {
      -moz-transform: scale(2.1) rotate(-5deg) translateX(-5px) translateY(-5px) skewX(1deg);
      -webkit-transform: scale(1.1) rotate(-5deg) translateX(-5px) translateY(-5px) skewX(1deg);
      -o-transform: scale(1.1) rotate(-5deg) translateX(-5px) translateY(-5px) skewX(1deg);
      -ms-transform: scale(1.1) rotate(-5deg) translateX(-5px) translateY(-5px) skewX(1deg);
      transform: scale(1.1) rotate(-5deg) translateX(-5px) translateY(-5px) skewX(1deg);
      box-shadow: var(--negros) 7px 9px 16px, #3f4047 3px 3px 1px;
      border: 1px solid var(--color-grises);
}

.barra-filtros {
      height: 60px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
}

.barra-filtros .content-filtros {
      width: 77%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
}

.barra-filtros .content-filtros span,
label {
      font-family: var(--tipo-principal);
      font-weight: 600;
      color: var(--negros);
}

.seccion-filtro {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
}

.caja-milista {
      position: fixed;
      top: 20%;
      right: 15%;
      left: 15%;
      border: 1px solid var(--color-grises);
      border-radius: 10px;
      padding: 15px;
      background-color: var(--color-secundario);
      box-shadow: var(--negros) 10px 10px 20px;
}

.contenedor-milista {
      display: flex;
      width: 100%;
      gap: 12px;
      padding: 0 8px;
      min-height: 319px;
      height: 400px;
      overflow-y: scroll;
      background-color: var(--color-secundario);
      flex-wrap: wrap;
}

.caja-milista header {
      display: flex;
      gap: 10px;
      padding-bottom: 10px;
}

.caja-milista header h2 {
      width: 87%;
      margin-top: 10px;
}

.btn-hamburguesa {
      width: 56px;
      height: 56px;
}

.image-container {
      height: 200px;
}

.image-container img {
      cursor: pointer;
}

.overlay {
      position: relative;
      bottom: -50%;
      left: 30%;
}

.close-button {
      border-radius: 50%;
      padding: 15px;
      background-color: var(--color-detalle);
      opacity: 0;
      cursor: pointer;
}

.close-button:hover {
      border-radius: 50%;
      padding: 15px;
      background-color: var(--color-detalle);
      opacity: 1;
      border: none;
}


@media (max-width:870px) {
      .contenedor-milista h2 {
            font-size: 18px;
      }

      .barra-filtros {
            height: 200px;
      }
      .overlay {
            position: relative;
            bottom: -66%;
            left: 33%;
      }
}

@media (max-width:600px) {

      .barra-filtros .content-filtros {
            justify-content: flex-start;
      }

      .btn-hamburguesa[_ngcontent-ddy-c49] {
            width: 15%;
            height: 56px;
      }

      .grilla {
            padding: 0 10px 120px 10px;
            justify-content: center;
      }
}

@media (max-width:399px) {
      img {
            width: 100px;
            aspect-ratio: auto 100 / 140;
            height: 140px;
      }

      .caja-milista {
            right: 5%;
            left: 10%;
      }

      .caja-milista header h2 {
            width: 70%;
            font-size: 18px;
      }

      .image-container {
            height: 140px;
      }

      .overlay {
            position: relative;
            bottom: -70%;
            left: 24%;
      }
}