@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hue-start: 334;
  --saturation-start: 71%;
  --lightness-start: 54%;
  --hue-end: 332;
  --saturation-end: 68%;
  --lightness-end: 96%;
 }
 
 body {
  color: hsl(var(--hue-start), var(--saturation-start), var(--lightness-start));
  background: linear-gradient(
       to bottom,
       transparent,
       hsl(var(--hue-end), var(--saturation-end), var(--lightness-end))
     );
 }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
