.booksResultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-wrap: wrap;
    color: #62372d;
}