@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Montserrat:wght@400;500;600&display=swap");
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #f3e5d0;
}

img {
  max-width: 100%;
  height: auto;
}

.header-section h3 {
  background-color: #daaa63;
  border-radius: 5rem;
  width: 30%;
  margin: 0.5rem auto 0 auto;
  padding: 0.5rem 0;
  color: #f8f3ed;
  font-weight: bold;
  text-align: center;
}

.counter-books {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.counter-books > div {
  padding: 1rem 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #2c1810;
  gap: 0.5rem;
}

.counter-books > div span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #2c1810;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 2px solid #daaa63;
  border-radius: 50%;
}

.counter-books > div h4 {
  margin: 0;
}

.filters-section {
  width: 70%;
  height: 2rem;
  margin: 1rem auto;
}

.filters-section aside {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filters-section aside label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: #2c1810;
}

.filters-section aside label select {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #2c1810;
  font-weight: bold;
  background-color: #f3e5d0;
}

.footer-section {
  background-color: #2c1810;
  padding: 3rem 0;
  text-align: center;
}

.footer-section small {
  color: #f8f3ed;
  font-weight: bold;
}

.footer-section small a {
  color: #daaa63;
  text-decoration: none;
  transition: color 300ms ease;
}

.footer-section small a:hover {
  color: #f3e5d0;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

.background-section {
  background-color: #f8f3ed;
  width: 90%;
  margin: 2rem auto;
  border-radius: 1rem;
  height: 900px;
  padding: 1rem 0;
  position: relative;
}

.background-section .top {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  width: 100%;
  height: 25%;
}

.background-section .mid {
  width: 100%;
  height: 10%;
  position: relative;
  box-shadow: 0px 40px 20px -5px rgba(0, 0, 0, 0.4);
}

.background-section .mid .mid-table {
  position: absolute;
  left: -3.3rem;
  right: -3.3rem;
  top: 70%;
  bottom: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 20px solid #ffdba4;
  box-shadow: 0px 10px #ffffff;
}

.background-section .mid .mid-table-shadow {
  position: absolute;
  left: -3.3rem;
  right: -3.3rem;
  top: 70%;
  bottom: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 0.1);
}

.background-section .bottom {
  position: absolute;
  width: 100%;
  bottom: 3rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.content-section {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  margin: 0rem auto;
  min-height: 250px;
  max-height: 250px;
}

.content-section .cards-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.content-section .cards-container .btn-left,
.content-section .cards-container .btn-right {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #2c1810;
  font-weight: bold;
  height: 30%;
  width: 2.5rem;
  cursor: pointer;
  z-index: 200;
}

.content-section .cards-container .btn-left svg,
.content-section .cards-container .btn-right svg {
  fill: #2c1810;
  border-radius: 50%;
  padding: 0.2rem;
  transition: all 200ms ease;
}

.content-section .cards-container .btn-left svg:hover,
.content-section .cards-container .btn-right svg:hover {
  fill: #daaa63;
  transform: scale(1.2);
}

.content-section .cards-container .btn-left {
  left: 0rem;
}

.content-section .cards-container .btn-right {
  right: 0;
}

.content-section .carousel-container {
  scroll-behavior: smooth;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content-section .carousel-container .carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: auto;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 2rem 0 0 1rem;
  transition: all 1s ease-out;
  margin-top: 1rem;
}

.content-section .carousel-container .carousel .book {
  position: relative;
  min-width: 130px;
  max-width: 130px;
  filter: grayscale(1);
  transition: all 300ms ease;
}

.content-section .carousel-container .carousel .book:hover {
  filter: grayscale(0);
}

.content-section .carousel-container .carousel .book img {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  width: 100%;
  height: 100%;
}

.content-section .carousel-container .carousel .book .book-btn {
  background-color: transparent;
  z-index: 200;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-section .carousel-container .carousel .book .book-left-shadow {
  border-right: solid 0.9px rgba(0, 0, 0, 0.3);
  border-left: solid 0.1 px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0.2px;
  bottom: 0.2px;
  left: 0.5px;
  right: 95%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px inset rgba(0, 0, 0, 0.2);
}

.content-section .carousel-container .carousel .book .book-right-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  border-left: 4px solid #d1d1d1;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  z-index: 100;
}

.content-section .carousel-container .carousel .book .book-background-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

.content-section-to-read {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  margin: 0rem auto;
  min-height: 250px;
  max-height: 250px;
}

.content-section-to-read .cards-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.content-section-to-read .cards-container .btn-left,
.content-section-to-read .cards-container .btn-right {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #2c1810;
  font-weight: bold;
  height: 30%;
  width: 2.5rem;
  cursor: pointer;
  z-index: 200;
}

.content-section-to-read .cards-container .btn-left svg,
.content-section-to-read .cards-container .btn-right svg {
  fill: #2c1810;
  border-radius: 50%;
  padding: 0.2rem;
  transition: all 200ms ease;
}

.content-section-to-read .cards-container .btn-left svg:hover,
.content-section-to-read .cards-container .btn-right svg:hover {
  fill: #daaa63;
  transform: scale(1.2);
}

.content-section-to-read .cards-container .btn-left {
  left: 0rem;
}

.content-section-to-read .cards-container .btn-right {
  right: 0;
}

.content-section-to-read .carousel-container {
  scroll-behavior: smooth;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content-section-to-read .carousel-container .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-section-to-read .carousel-container .carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: auto;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 2rem 0 0 1rem;
  margin-top: 1rem;
  transition: all 1s ease-out;
}

.content-section-to-read .carousel-container .carousel .book {
  position: relative;
  min-width: 130px;
  max-width: 130px;
  transition: filter 300ms ease;
}

.content-section-to-read .carousel-container .carousel .book:hover {
  filter: grayscale(1);
}

.content-section-to-read .carousel-container .carousel .book img {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  width: 100%;
  height: 100%;
}

.content-section-to-read .carousel-container .carousel .book .book-btn {
  background-color: transparent;
  z-index: 200;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-section-to-read .carousel-container .carousel .book .book-left-shadow {
  border-right: solid 0.9px rgba(0, 0, 0, 0.3);
  border-left: solid 0.1 px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0.2px;
  bottom: 0.2px;
  left: 0.5px;
  right: 95%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px inset rgba(0, 0, 0, 0.2);
}

.content-section-to-read .carousel-container .carousel .book .book-right-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  border-left: 4px solid #d1d1d1;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  z-index: 100;
}

.content-section-to-read .carousel-container .carousel .book .book-background-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1023px) {
  .header-section h3 {
    background-color: #daaa63;
    border-radius: 5rem;
    width: 70%;
    margin: 0.5rem auto 0 auto;
    padding: 0.5rem 0;
    color: #f8f3ed;
    font-weight: bold;
    text-align: center;
  }
  .counter-books {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .counter-books > div {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #2c1810;
    gap: 0.5rem;
  }
  .counter-books > div span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #2c1810;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: 2px solid #daaa63;
    border-radius: 50%;
  }
  .counter-books > div h4 {
    font-size: 0.8rem;
    margin: 0;
  }
  .filters-section {
    width: 90%;
    height: 2rem;
    margin: 1.5rem auto;
  }
  .filters-section aside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .filters-section aside label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    color: #2c1810;
  }
  .filters-section aside label select {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #2c1810;
    font-weight: normal;
    font-size: 0.8rem;
    background-color: #f3e5d0;
  }
  .filters-section aside label select option {
    font-size: 0.8rem;
  }
  .footer-section {
    background-color: #2c1810;
    padding: 5rem 0;
    text-align: center;
  }
  .footer-section small {
    color: #f8f3ed;
    font-weight: bold;
  }
  .footer-section small a {
    color: #daaa63;
    text-decoration: none;
    transition: color 300ms ease;
  }
  .footer-section small a:hover {
    color: #f3e5d0;
  }
  .main-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }
  .background-section {
    background-color: #f8f3ed;
    width: 100%;
    margin: 2rem auto;
    border-radius: 0;
    height: 900px;
    padding: 1rem 0;
    position: relative;
  }
  .background-section .top {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    width: 100%;
    height: 25%;
  }
  .background-section .mid {
    width: 100%;
    height: 10%;
    position: relative;
    box-shadow: 0px 40px 20px -5px rgba(0, 0, 0, 0.4);
  }
  .background-section .mid .mid-table {
    position: absolute;
    left: -3.3rem;
    right: -3.3rem;
    top: 70%;
    bottom: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 20px solid #ffdba4;
    box-shadow: 0px 10px #ffffff;
  }
  .background-section .mid .mid-table-shadow {
    position: absolute;
    left: -3.3rem;
    right: -3.3rem;
    top: 70%;
    bottom: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 20px solid rgba(0, 0, 0, 0.1);
  }
  .background-section .bottom {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  .content-section {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    margin: 0rem auto;
    min-height: 250px;
    max-height: 250px;
  }
  .content-section .cards-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  .content-section .cards-container .btn-left,
  .content-section .cards-container .btn-right {
    display: none;
    position: absolute;
    background-color: transparent;
    border: none;
    color: #2c1810;
    font-weight: bold;
    height: 30%;
    width: 2.5rem;
    cursor: pointer;
    z-index: 200;
  }
  .content-section .cards-container .btn-left svg,
  .content-section .cards-container .btn-right svg {
    fill: #2c1810;
    border-radius: 50%;
    padding: 0.2rem;
    transition: all 200ms ease;
  }
  .content-section .cards-container .btn-left svg:hover,
  .content-section .cards-container .btn-right svg:hover {
    fill: #daaa63;
    transform: scale(1.2);
  }
  .content-section .cards-container .btn-left {
    left: 0rem;
  }
  .content-section .cards-container .btn-right {
    right: 0;
  }
  .content-section .carousel-container {
    scroll-behavior: smooth;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow-x: scroll;
  }
  .content-section .carousel-container .carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0rem;
    right: 0rem;
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    padding: 2rem 0 0 0;
  }
  .content-section .carousel-container .carousel .book {
    position: relative;
    min-width: 130px;
    max-width: 130px;
    filter: grayscale(1);
    transition: all 300ms ease;
  }
  .content-section .carousel-container .carousel .book:hover {
    filter: grayscale(0);
  }
  .content-section .carousel-container .carousel .book img {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    width: 100%;
    height: 100%;
  }
  .content-section .carousel-container .carousel .book .book-btn {
    background-color: transparent;
    z-index: 200;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .content-section .carousel-container .carousel .book .book-left-shadow {
    border-right: solid 0.9px rgba(0, 0, 0, 0.3);
    border-left: solid 0.1 px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0.2px;
    bottom: 0.2px;
    left: 0.5px;
    right: 95%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 0px inset rgba(0, 0, 0, 0.2);
  }
  .content-section .carousel-container .carousel .book .book-right-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    border-left: 4px solid #d1d1d1;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    z-index: 100;
  }
  .content-section .carousel-container .carousel .book .book-background-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.7);
  }
  .content-section-to-read {
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    margin: 0rem auto;
    min-height: 250px;
    max-height: 250px;
  }
  .content-section-to-read .cards-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  .content-section-to-read .cards-container .btn-left,
  .content-section-to-read .cards-container .btn-right {
    display: none;
    position: absolute;
    background-color: transparent;
    border: none;
    color: #2c1810;
    font-weight: bold;
    height: 30%;
    width: 2.5rem;
    cursor: pointer;
    z-index: 200;
  }
  .content-section-to-read .cards-container .btn-left svg,
  .content-section-to-read .cards-container .btn-right svg {
    fill: #2c1810;
    border-radius: 50%;
    padding: 0.2rem;
    transition: all 200ms ease;
  }
  .content-section-to-read .cards-container .btn-left svg:hover,
  .content-section-to-read .cards-container .btn-right svg:hover {
    fill: #daaa63;
    transform: scale(1.2);
  }
  .content-section-to-read .cards-container .btn-left {
    left: 0;
  }
  .content-section-to-read .cards-container .btn-right {
    right: 0;
  }
  .content-section-to-read .carousel-container {
    scroll-behavior: smooth;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow-x: scroll;
  }
  .content-section-to-read .carousel-container .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .content-section-to-read .carousel-container .carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    padding: 2rem 0 0 0;
  }
  .content-section-to-read .carousel-container .carousel .book {
    position: relative;
    min-width: 130px;
    max-width: 130px;
    transition: filter 300ms ease;
  }
  .content-section-to-read .carousel-container .carousel .book:hover {
    filter: grayscale(1);
  }
  .content-section-to-read .carousel-container .carousel .book img {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    width: 100%;
    height: 100%;
  }
  .content-section-to-read .carousel-container .carousel .book .book-btn {
    background-color: transparent;
    z-index: 200;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .content-section-to-read .carousel-container .carousel .book .book-left-shadow {
    border-right: solid 0.9px rgba(0, 0, 0, 0.3);
    border-left: solid 0.1 px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0.2px;
    bottom: 0.2px;
    left: 0.5px;
    right: 95%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 0px inset rgba(0, 0, 0, 0.2);
  }
  .content-section-to-read .carousel-container .carousel .book .book-right-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    border-left: 4px solid #d1d1d1;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    z-index: 100;
  }
  .content-section-to-read .carousel-container .carousel .book .book-background-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 8px 10px 10px 0px rgba(0, 0, 0, 0.7);
  }
}
