*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  font-family: 'Nunito', sans-serif;
}

li{
  list-style: none;
}

button {
  cursor: pointer;
}

.dropzone.dragover{
  opacity: 0.75;
  background-color: #675dea;
  transition: background-color 0.3s ease;
}