.availablebooks {
  display: flex;
  width: 60%;
  height: 80%;
  flex-wrap: wrap;
  border: solid red 1px;

}

.book {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
    height: 35vh;
    width: 25vh;
}

.book:hover {
  cursor: grab;
}