.grilla-libros {       
  display: grid;
  gap:5px; 
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem,1fr));
  
}
.grilla-lectura {              
  display: grid;
  gap:3px; 
  grid-auto-rows: 8rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem,1fr));
}