.book{
  padding: 20px;
  // min-height: 100vh;
  // min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  &_section{
    display: flex;
    max-width: 800px;
    column-gap: 20px;

    &-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    
    &-cover img{
      height: 486px;
      box-shadow: -16px 16px 32px #111111;
      border-radius: 10px;
    }
    
    &-author span{
      display: block;
    }

    &-buttons{
      display: flex;
      row-gap: 10px;
      flex-direction: column;

      & button{
        border: none;
        cursor: pointer;
        padding: 12px;
        font-size: 16px;
        border-radius: 6px;
        background-color: #3342c9;
        transition: filter 0.3s;

        &:hover{
          filter: brightness(1.3);
        }

        &.remove{
          --remove: #b9aa1c;
          color: var(--remove);
          border: 2px solid var(--remove);
          background-color: transparent;
        }
      }
    }
  }
}