.navbar{
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 100;
    /* color: rgb(110, 84, 18); */
    background-color: var(--color-background);
    gap: 5rem;
}

.title-light{
    font-weight: lighter;
}

.search-nav{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: larger;
    gap: 2rem;
}

.navbar-nav > a{
    text-decoration: none;
    color: var(--color-font);
    border: 1px solid var(--color-font);
    border-radius: 1rem;
    padding: 0 .5rem;
    display: grid;
    place-items: center;
}

.navbar-nav > a:hover{
    background-color: rgba(110, 84, 18, 0.349);
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search > span{
    font-size: x-large;
    font-weight: 500;
}

.search >input{
    background-color: transparent;
    border: 1px solid rgb(110, 84, 18);
    border-radius: 1rem;
    height: 1.5rem;
    width: 16rem;
    /* color: rgb(110, 84, 18); */
    font-weight: 400;
    padding: 0 1rem;
}

.search > input:focus{
    outline: none;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 10;
}
.line {
  fill: none;
  stroke: var(--color-menu);
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 4;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.mobile{
    display: flex;
    flex-direction: column;
    position: relative;
}

.mobile-nav{
  position: fixed;
  right: 0;
  top: 0;
  max-width: 75%;
  min-height: 78vh;
  border: 1px solid gray;
  border-radius: 1rem 0 0 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: var(--color-background);
}

.mobile-links{
  display: flex;
  flex-direction: column;
}

.mobile-links > a{
  font-size: x-large;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-font);
}


.mobile-search{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-search > input{
    background-color: transparent;
    border: 2px solid rgb(110, 84, 18);
    border-radius: 1rem;
    height: 1.5rem;
    width: 16rem;
    font-weight: 700;
    padding: 0 1rem;
}

.mobile-search > span{
  font-size: x-large;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
    .navbar{
      gap: 0;
      padding: 0 .5rem;
    }
}