.navbar{
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 100;
    /* color: rgb(110, 84, 18); */
    background-color: var(--color-background);
    gap: 5rem;
}

.title-light{
    font-weight: lighter;
}

.search-nav{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: larger;
    gap: 2rem;
}

.navbar-nav > a{
    text-decoration: none;
    color: var(--color-font);
    border: 1px solid var(--color-font);
    border-radius: 1rem;
    padding: 0 .5rem;
    display: grid;
    place-items: center;
}

.navbar-nav > a:hover{
    background-color: rgba(110, 84, 18, 0.349);
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search > span{
    font-size: x-large;
    font-weight: 500;
}

.search >input{
    background-color: transparent;
    border: 1px solid rgb(110, 84, 18);
    border-radius: 1rem;
    height: 1.5rem;
    width: 16rem;
    /* color: rgb(110, 84, 18); */
    font-weight: 400;
    padding: 0 1rem;
}

.search > input:focus{
    outline: none;
}


@media screen and (max-width: 768px) {
    .navbar{
      gap: 0;
      padding: 0 .5rem;
    }
}