@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply  dark:bg-[#000000] dark:text-white
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #424242;
}

body::-webkit-scrollbar-thumb {
  background: #686868;
}