@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

*::-webkit-scrollbar {
  width: 0.6em;
  background-color: #0c0a09;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(239, 68, 68, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(231, 229, 228, 0.8);
}
