

.sort-item {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;

    /* Importante */
    touch-action: manipulation;
}

.sort-item {
    background-color: #11427D;
}

.sort-content {
    flex-grow: 1;
}

.sort-btn {
    appearance: none;
    background-color: transparent;
    border: 0;
    font-size: 18px;
    padding: 0 5px;
    margin: 0;
    color: white;

    /* Importante */
    touch-action: none;
}
.sort-btn:hover {
    color: #b0b0b0;
}