*::after,
*::before,
*{
    margin: 0;
    box-sizing: border-box;
    color: antiquewhite;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.3fr 3.6fr;
    grid-template-areas: 
                        'header header'
                        'book-available to-read'
                        'filters-container to-read'
                        'book-container to-read';
    gap: 1rem;
    background: rgb(34, 33, 33);
}
.header{
    text-align: center;
    padding: 3rem;
    grid-area: header;
}
.container .header h1{
    font-size: 4rem;
}
.book-available{
    grid-area: book-available;
}
.filters-container{
    grid-area: filters-container;
}

.book-container{
    padding-top: 1.5rem;
    display: grid;
    grid-area: book-container;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px,
            1fr
        )
        );
    gap:1.5rem;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 230px;
    aspect-ratio:4/3;
}
img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.img-container img:hover{
    transform: scale(1.1);
}
.img-container {
    width: 200px;
    height: 280px;
}
.img-opacity{
    opacity: 0.3;
}
.range-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


/* @media screen and (max-width:763px){
    .filters{
        grid-column: 1/-1;
        margin: 0 auto;
    }
    .book-container{
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
} */