*::after,
*::before,
*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,auto);
    gap: 1rem;
}
.container .header{
    grid-column:1/-1;
    grid-row:1/2;
    text-align: center;
    padding: 3rem;
}
.container .header h1{
    font-size: 4rem;
}
.filters{
    grid-column:1/2;
    grid-row:2/3;
}
.book-container{
    display: grid;
    grid-column:2/-1;
    grid-row:2/-1;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
        );
    gap:1rem;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}
.img-container img:hover{
    transform: scale(1.1);
}
.img-container {
    height: 400px;
    padding: 10px;
}
.img-opacity{
    opacity: 0.5;
}

@media screen and (max-width:763px){
    .filters{
        grid-column: 1/-1;
        margin: 0 auto;
    }
    .book-container{
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
}