.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-bottom: 20px;
  width: 70%;
  height: 100%;
  /* height: fit-content; */
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
  color: var(--light-color);
}
