.main {
  @apply flex w-full h-full flex-col min-h-screen max-w-[1400px] m-auto gap-6 !mt-[100px] mb-20;
}

@media (max-width: 1400px) {
  .main {
    max-width: calc(80%);
  }
}

@media (max-width: 800px) {
  .main {
    max-width: 100%;
    @apply px-5;
  }
}

.bookGrid {
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 360px;
  display: grid;
  @apply grid w-full h-full gap-10;
}

@media (max-width: 1400px) {
  .bookGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .bookGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .bookGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .bookGrid {
    grid-template-columns: 1fr;
    grid-auto-rows: 450px;
  }
}
