.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 0 25px;
}

.aside {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	width: 100%;
	background-color: var(--color-stroke);
	align-self: flex-start;
	padding: 1.525rem 1.25rem;
	border-radius: var(--radius-sm);
	max-height: 500px;
	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.aside::-webkit-scrollbar {
	display: none;
}

.favoritesList {
	display: flex;
	flex-direction: column;
	gap: 1.825rem;
}

.title {
	font-size: clamp(18px, 4vh, 20px);
	font-weight: 600;
	color: var(--color-heading);
	line-height: 1.2;
	letter-spacing: -0.5px;
}

.card {
	display: flex;
	width: 100%;
	align-items: flex-start;
	column-gap: 12px;
}

.bookTitle {
	font-size: clamp(16px, 2vh, 18px);
	font-weight: 600;
	color: var(--color-heading);
	line-height: 1.2;
	letter-spacing: -0.5px;
}

.cover {
	width: 90px;
	object-fit: contain;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.genre {
	display: inline-block;
	color: var(--color-main);
	font-weight: 400;
}

.pages {
	font-size: clamp(10px, 2vh, 12px);
	color: var(--color-secondary);
}

.author {
	font-size: clamp(16px, 2vh, 18px);
	font-weight: 600;
	color: var(--color-main);
}

.button {
	display: block;
	width: 100%;
	padding: 8px 12px;
	border-radius: var(--radius-sm);
	background-color: var(--color-button);
	color: var(--color-stroke);
	font-weight: 600;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.wrapper {
		padding: 0;
	}

	.aside {
		margin: 0;
	}
}
