/* Estilo básico del select */
.mi-select {
    padding: 4px; 
    font-size: 16px; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #333; 
    width: 200px;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url('../../../public/border.svg') 10 10 10 10 stretch stretch;
   
    
    
  }
  
 

 
  
 