@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Clash Grotesk Variable;
  src: url('/fonts/ClashGrotesk-Variable.ttf');
  font-style: normal;
}

body {
  font-family: Clash Grotesk Variable;
  font-weight: 400;
}
