<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteCond %{HTTPS} ==on
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
