// colors

$color-primary: #282c34;
$color-secondary: #0a0a0a;
$color-third: #0f1011;
$color-background: #242424;
$color-favorites: #353535;
$color-disponibles: #474545;
$color-font: rgba(255, 255, 255, 0.87);

$color-link: #61dafb;

// breakpoint
$desktop-breakpoint: 80rem;
