.options{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1rem;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    max-width: max-content;
    align-items: center;
}

.filters{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.pagesFilter{
    display: flex;
    gap: 1rem;
}

.pagesFilter > div{
    display: flex;
    gap: 2px;
}

.genreFilter{
    display: flex;
    gap: 1rem;
}

.span{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secundary-blue);
    max-width: max-content;
}

.label{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secundary-blue);
    max-width: max-content;
}

.searchInput{
    padding: 1rem;
    border: 2px solid var(--secundary-blue);
    border-radius: 10px;
    height: 2rem;
    width: 15rem;
    overflow: hidden;
    background-color: var(--primary-beige);
}

.searchButton{
    display: flex;
    height: 2rem;
    width: 2rem;
    border: none;
    position: absolute;
    right: 3%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.searchButton:hover{
  cursor: pointer;
}

.searchButton > img{
    background-color: var(--primary-beige);
}

@media only screen and (max-width: 900px) {
    .filters{
 
        flex-direction: column-reverse;
      
    }

    
}