@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll !important;
}

a {
  @apply text-rose-700 hover:text-rose-500 transition-colors;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-rose-700;
  font-family: "Libre Caslon Text", serif;
}

.classic {
  font-family: "Libre Caslon Text", serif;
}
