#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
}

.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}

.text-align-left {
  text-align: left;
}
