*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* html {
   font-size: 62.5%; 
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
} */

/* html:focus-within {
  scroll-behavior: smooth;
} */

body {
  /* font-size: 1.6rem; */
  font-family: var(--font);
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-color: var(--primary-beige);
}

img,
picture {
  max-width: 100%;
  display: inline;
}
