/* Como el proyecto no es muy grande, pongo todo css en un sólo archivo por comodidad */
/* De crecer sería mejor separar en módulos */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

li {
  list-style: none;
}

img {
  height: 100%;
  max-width: 100%;
}

/* User list */
/*************************************************/
.readingList-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 2px;
  z-index: 1;
}
.readingList-container ul {
  margin: 8px;
  gap: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  height: 175px;
}
.readingList-container li {
  position: relative;
}

/* Book list */
/*************************************************/
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  color: black;
}
.close-btn:hover {
  background-color: rgb(245, 50, 0);
  color: white;
}

.booklist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.booklist-container > li {
  max-height: 320px;
  cursor: pointer;
}

/* FilterDiv */
/*************************************************/
.filters-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.filters-btns-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.filters-container select {
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.6;
  padding: 6px;
}
