#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  height: 100%;
  max-width: 100%;
}

.booklist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.booklist-container > li {
  list-style: none;
  max-height: 320px;
}
