.books {
  display: flex;
  width: 35%;
  height: 80%;
  flex-wrap: wrap;
  border: solid blue 1px;
  color: red;
}


.book {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
    height: 35vh;
    width: 25vh;
}