.bookList{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookCard {
    min-width: 15% ;
    min-height: 15% ;
    max-width: 15% ;
    max-height: 15% ;
    overflow: hidden;
    margin: 5px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.bookCard > img {
    max-width: 100%;
    max-height: 100%;
}