.filterComponent > * {
    user-select: none;
}

.countFragment{
    min-width: 100%;
}

.rangeComponent {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

.range {
    position: relative;
    min-width: 100%
}

.filterBox {
    min-width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}