.body {
    background-color: grey;
    font-family: 'Courgette', cursive;
}

.body > * {
    color: white;
    font-size: 1.3rem !important
}

@media (max-width: 768px) {
    .body > * {
        font-size: 1rem !important;
    }
}

