.bookList {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookCard {
    min-width: 80px ;
    min-height: 120px ;
    max-width: 15% ;
    max-height: 15% ;
    overflow: hidden;
    margin: 5px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.bookCard > img {
    max-width: 100%;
    max-height: 100%;
}

.forReading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.forReading > p {
    min-width: 100%;
}


