
/*
custom clases
*/
.container {
  max-width: 80%;
  margin: 0 auto;
}

.main_library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}