.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, calc(50% - 0.825rem)));
  justify-content: space-around;
  gap: 0.825rem;
}

@media screen and (min-width: 547px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
