body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    & #app {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
        
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            overflow: auto;
            
            &.dark {
                background-color: #05020d;
                color: white;
            }
        }
        
        & .with-color {

            &.dp-block {
                text-align: center;
                display: inline-block;
            }
            
            &:first-letter, &.full {
                color: orange;
            }
        }
        
        
    }
}