nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #80808066;
    
    & div {
        
        margin: .5em 2em;
        
        &:first-child {
            width: 30%;
        }
        &:last-child {
            width: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            & button {
                width: 39px;
                height: 39px;
                background: none;
                border: none;
                position: relative;
                cursor: pointer;
                
                & svg {
                    width: 100%;
                    height: 100%;
                    color: black;
                }
                
                & span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: orange;
                    padding: .1em;
                    border-radius: 10px;
                    width: 1rem;
                    color: white;
                    font-weight: bold;
                    height: 1rem;
                }
            }
        }
    }
    
    & .logo {
        
        & span {
            display: inline-block;
            font-size: 1.5em;
            color: orange;
            
            &:first-child {
               transform: scale(-1, 1)
            }
            &:last-child {
                margin-left: -.36em;
            }
        }
    }
}

.dark nav div {
    &:last-child {
        & button {
            & svg {
                color: white;
            }
        }
    }
}