.gridContainer {
    display: grid;
    grid-gap: 2rem;
    /* margin-top: 2rem; */
    padding: 5%;
}

.bookGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3rem;
    overflow: hidden;
    justify-content: center;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filterSelect {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}