.gridContainer {
    display: grid;
    grid-gap: 2rem;
    /* margin-top: 2rem; */
    padding: 5%;
}

.bookGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3rem;
    overflow: hidden;
    justify-content: center;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filterSelect {
    cursor: pointer;
    border: 2px solid #f0e7dd;
    color: #d0c2b4;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.gridContainerInfo {
    padding-bottom: 1rem;
}

.gridContainerInfo span {
    font-weight: 600;
    color: #d0c2b4;
    font-size: 1.4rem;
}