---
import { ProductItem } from "@/components/"
import Layout from "@/layouts/Layout.astro"
import data from "@/lib/data.json"
import type { GetStaticPaths } from "astro"

// Use SSR if the products are dynamics
export const getStaticPaths = (() => {
    const products = data.products;
    const productParams = products.map((product) => ({
        params: { item: product.id },
    }));

    return productParams;
}) satisfies GetStaticPaths;

const { item } = Astro.params;
---

<Layout title={`${item as string} - Midu Bazar`}>
    <main class="flex flex-col gap-3 p-3 w-screen">
        <ProductItem 
            productId={Number(item)}
            client:load
        />
    </main>
</Layout>
