.NavbarContainer {
  position: fixed;
  z-index: 1000;
  height: 46px;
  width: 100vw;
}

.NavbarBackground {
  height: 45px;
  width: 100vw;
  color: transparent;
}

#content {
  padding: 10px 2px;
  min-height: calc(100vh - 46px);
}

#content.light {
  background-color: rgb(242, 242, 242);
}

.NavbarContainer > ul.dark > li.ant-menu-item-active {
  color: var(--dark-font-4) !important;
}

div > ul.ant-menu.light {
  background-color: #edf3ff;
}

div > div > ul.dark,
li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child.dark > span,
ul > li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child.dark > span::after

{
  background-color: var(--dark-background-2);
  color: var(--dark-font-4);
}

#root > div > div > ul > li.dark ,
li.dark.ant-menu-overflow-item.ant-menu-submenu.ant-menu-submenu-horizontal.Menu_Mobile_Header.dark.ant-menu-submenu-selected > div > span.ant-menu-title-content,
li.dark.ant-menu-overflow-item.ant-menu-submenu.ant-menu-submenu-horizontal.Menu_Mobile_Header.dark.ant-menu-submenu-selected > div > span.anticon.anticon-bars.ant-menu-item-icon > svg
{
  color: var(--dark-font-1);
  
}

body > div > div.dark > .ant-menu.ant-menu-sub.ant-menu-vertical {
  background-color: var(--dark-background-4) !important;
  color: var(--dark-font-2);
}

#rc-menu-uuid-97774-1-MenuMobile-popup > li:hover {
  background-color: var(--dark-background-3);
  color: var(--dark-font-2) !important;
}

div.dark > #rc-menu-uuid-51993-1-MenuMobile-popup > li:hover {
  background-color: var(--dark-background-2);
  color: white !important;
}

#rc-menu-uuid-51993-1-MenuMobile-popup > li.ant-menu-item.ant-menu-item-selected.dark {
  background-color: rgb(209, 209, 209);
  color: var(--dark-pending-2);
}

#content.dark {
  background: linear-gradient(90deg, var(--dark-background-3), var(--dark-background-4), var(--dark-background-3));
}

.Menu_Mobile_Item.dark > ul > li:hover {
  color: white var(--dark-font-1) !important;
  background-color: var(--dark-background-3) !important;
}

.FloatBackTop {
  left: 2% !important;
}

.FloatBackTop.light {
  box-shadow: 0 0 7px #333 !important;
}

.FloatBackTop.dark {
  background-color: var(--dark-background-3) !important;
  color: var(--dark-font-1);
  box-shadow: 0 0 7px var(--dark-font-1) !important;
}

.FloatBackTop.dark:hover > span > div > div > div > span > svg {
  color: var(--dark-font-1) !important;
}




