.read{
  top: 70px;
  right: 0;
  height: calc(100vh - 70px);
  height: calc(100dvh - 70px);
  padding: 20px 20px 20px 0;
  display: flex;
  z-index: 110;
  position: fixed;
  overflow: auto;
  transition: transform 0.4s ease;
  transform: translateX(100%);
  box-shadow: -2px 2px 8px #202020;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-start);

  &::-webkit-scrollbar{
    display: none;
  }

  & > strong{
    margin: 10px;
  }

}

.open{
  transform: translateX(0); 
}