@font-face {
	font-family: 'MonaSans';
	src: url('/fonts/Mona-Sans-Bold.woff2'), url('/fonts/Mona-Sans-Light.woff2'),
		url('/fonts/Mona-Sans-Regular.woff2');
}

@font-face {
	font-family: 'Luma';
	src: url('/fonts/Lumanosimo-Regular.ttf');
}
