.BookToRead-container {
  transition-duration: .2s;
  border-radius: 23px 10px 10px 23px;
  margin: 5px 0
}

.BookToRead-pending {
  background-color: var(--dark-pending-4);
}

.BookToRead-read {
  background-color: var(--dark-ok-5);
}

.BookToRead-container.dark > .ant-col:nth-child(2) > span.ant-typography,
.BookToRead-container.dark > .ant-col:nth-child(3) > span.ant-typography,
.BookToRead-container.dark > .ant-col:nth-child(4) > span.ant-typography
{
  color: var(--dark-font-1);
}

.Btr_Image {
  border-radius: 50%; 
  justify-self: center
}