@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Quicksand;
  src: url('/font/Quicksand.otf');
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
}
@layer base {
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --primary: 21 232 207;
    --secondary: 248 0 203;
    --tertiary: 30 32 35;
    --dark-v1: 15 15 15;
    --dark-v2: 20 20 20;
    --white: 255 255 255;
  }
  html {
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
    scroll-behavior: smooth;
  }
  .line-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
#container-carrousel::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(var(--dark-v2) / 1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--dark-v1) / 1);
  border-radius: 10px;
}

.main-header {
  background-color: rgba(var(--dark-v1) / 0.8);
  backdrop-filter: blur(4px);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.loader {
  width: 5em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: rgba(var(--primary) / 1);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
  z-index: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

input[type='range']::-webkit-slider-thumb {
  background-color: whitesmoke;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

/* input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px rgba(var(--primary) / 1), 0 0 9px rgba(var(--primary) / 1);
  -webkit-box-shadow: inset 0 0 3px rgba(var(--primary) / 1), 0 0 9px rgba(var(--primary) / 1);
} */

input[type='range']#minPages::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px rgba(var(--primary) / 1), 0 0 9px rgba(var(--primary) / 1);
  -webkit-box-shadow: inset 0 0 3px rgba(var(--primary) / 1), 0 0 9px rgba(var(--primary) / 1);
}

input[type='range']#maxPages::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px rgba(var(--secondary) / 1), 0 0 9px rgba(var(--secondary) / 1);
  -webkit-box-shadow: inset 0 0 3px rgba(var(--secondary) / 1), 0 0 9px rgba(var(--secondary) / 1);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  pointer-events: none;
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */
