| Test                                                                                     | Result | Duration |
| ---------------------------------------------------------------------------------------- | :----: | -------: |
| Desktop Chrome > basic-e2e.spec.ts > Homepage has title                                  |   ✅   |   599 ms |
| Desktop Chrome > test-e2e.spec.ts > Initial render                                       |   ✅   |   683 ms |
| Desktop Chrome > test-e2e.spec.ts > Filter by genre                                      |   ✅   |   327 ms |
| Desktop Chrome > test-e2e.spec.ts > Persist state on reload                              |   ✅   |   478 ms |
| Desktop Chrome > test-e2e.spec.ts > Add to reading list                                  |   ✅   |   1.63 s |
| Desktop Chrome > test-e2e.spec.ts > Long press only works with main button               |   ✅   |  1144 ms |
| Desktop Chrome > test-e2e.spec.ts > Remove from reading list                             |   ✅   |   2.28 s |
| Mobile Safari > e2e.mobile.spec.ts > Specific mobile block > Add to reading list (touch) |   ✅   |   1.52 s |
