* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}
