
.bg-dark {
    background-color: rgb(56,56,56);
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.custom-image {
    border-radius: 20px;
    padding: 10px;
    width: calc(100% - 20px);   
}

.custom-buttons button, .custom-buttons div {
    color: white;
    border-color: white;  
}

.book-store {
   position: fixed;
   right: 10px;
   top: 0px;
}