#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

button {
  margin-top: 1rem;
}

.elements {
  margin: 30px 0;
  & h2 {
    display: inline-block;
    margin: 0;
  }
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  text-align: left;
}

li:hover {
  cursor: pointer;
}
