.header {
  position: absolute;
  width: 100%;
  background-color: var(--background-header);
  top: 0;
  left: 0;
  background: linear-gradient(5deg, var(--background-header), var(--background-body));
  box-shadow: 20px 2px 15px #9d9d9d;
  height: 8.4rem
}

.main-container {
  margin-top: 10.4rem;
  text-align: center;
}

.header__titulo {
  margin-left: 5rem;
  font-size: 3.5rem;
  color: var(--background-header-text);
}

.listaLectura {
  display: flex;
  flex-direction: row;
  height:180vh
}

.listaLectura__disponibles {
  border: 2px solid #ccc;
  width: 80%;
  padding: 2rem
}

.disponibles__busqueda {
  position: relative;
  display:flex;
  flex-direction: row ;
  justify-content: space-between;
}

.disponibles__busqueda__lupa {
  position: absolute;
  left: 4%;
  top:25%;
  cursor: pointer;
  font-size: 1.5rem;
}

.disponibles__busqueda__input,.disponibles__busqueda__select  {
  background-color: transparent;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  padding-left:4.2rem;
  width: 50%;
  color: var(--background-header-text);
  background-color:  var(--background-header);
}

::placeholder { color: var(--background-header--text); }

.search-movies input:focus {
  outline: none;
}
.disponibles__libros {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px; 
}

.disponibles__libro{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.disponibles__texto {
  font-size: 2.5rem;
  color: var(--background-header-text);
  width: 100%;
}

.disponibles__titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--background-header-text);
  margin: 0
}

.disponibles__año {
  margin: 0;
  font-size: 1.3rem;
  color: var(--background-header-text);
}

.disponibles__imagenes {
  max-height: 336px;
  border-radius: 1rem;
  transition: transform 0.3s, opacity 0.5s ease;
  object-fit: cover;
}

.disponibles__imagenes:hover {
  transform: scale(1.1);
}

.listaLectura__marcados {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  border: 2px solid #ccc;
  width: 20%;
  padding: 2rem;
}

.marcados__texto {
  font-size: 2.5rem;
  color: var(--background-header-text);
}

.marcados__libros {
  list-style: none;
  padding: 0;
  position: relative;
}

.marcados__libro {
  position: absolute;
  margin-top: 2rem;
  width: 100%;
}

.marcados__libro:hover{
 z-index: 1222;
}

.marcado__titulo {
  position: absolute;
  top:0;
  font-size: 1.4rem;
  font-weight: bold;  
  background: linear-gradient(90deg, rgb(182, 187, 186) 0%, rgb(206, 206, 223) 35%, rgba(0,212,255,1) 100%);
  background-color: var(--background-header-transparent);
  color: rgb(24, 1, 7);
  cursor: pointer;
  background-color:white;
  width: 100%;
  height: 25px;
  margin: 0;
  border-radius: 1rem 1rem 0 0;
}

.marcados__imagenes {
  border-radius: 1rem;
}

.aspas__fondo::before,
.aspas__fondo::after {
  content: "";
  position: absolute;
  top:0px;
  right: 0px;
  width: 25px;
  height: 25px;
  background-color:  rgba(0, 0, 0, 0.3);
  
  cursor: pointer;
  background-color:white;
  border-radius: 0 1rem 0 0;
  z-index: 1;
}

.aspas__barra::before,
.aspas__barra::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 4px;
  width: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 1;
}

/* Rotar el primer trazo para crear una cruz */
.aspas__barra::before {
  transform: rotate(45deg);
}

/* Rotar el segundo trazo para crear una cruz */
.aspas__barra::after {
  transform: rotate(-45deg);
}



@media (max-width: 958px) {
  .listaLectura__disponibles {
    width: 70%;
  }

  .listaLectura__marcados {
    width: 30%;
  }
}

@media (max-width: 755px) {
  .disponibles__libros {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .disponibles__busqueda {
    position: relative;
    display:flex;
    flex-direction: column ;
    align-items: center
  }

  .disponibles__busqueda__input,.disponibles__busqueda__select {
    width: 100%;
    padding: 0.5rem;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }

  .disponibles__busqueda__lupa {
    position: absolute;
    left: 90%;
    top:5%;
    cursor: pointer;
    font-size: 1.5rem;
  }

}

@media (max-width: 622px) {
  .disponibles__libros {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }

  .disponibles__texto {
    font-size: 2rem;
  }
  .marcados__texto {
    font-size: 2rem;
  }
  
}

@media (max-width: 448px) {
  .listaLectura__disponibles {
    width: 50%;
  }

  .listaLectura__marcados {
    width: 50%;
  }
}