@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}
