#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  gap: 20px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.container-books {
  display: flex;
  flex-wrap: wrap;
}
