
.books {
  max-width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(183px - 2rem), 1fr));
  gap: 2rem;
}

.book-item {
  cursor: pointer;
  width: 100%;
  height: 270px;
  max-width: 184px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.book-item.selected {
  cursor: not-allowed;
  filter: brightness(50%);
}

.book-item > img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 100%;
}
