<header class="container my-3 text-center">
  <h2>{{title}}</h2>

  <nav class="nav_container">
    <div class="nav_item">
      <h4>Libros disponibles: {{books.length}}</h4>
    </div>
    <div class="nav_item-form">
      <select class="form-control" [(ngModel)]="genre" name="genre">
        <option value="" selected disabled>-Seleccione el genero-</option>
        <option *ngFor="let gen of genres" >{{gen}}</option>
      </select>
      <button class="btn btn-dark ms-1" (click)="filterByGenre()" *ngIf="!isFiltered">Filtrar</button>
      <button class="btn btn-dark ms-1" (click)="clearFilter()" *ngIf="isFiltered">Limpiar</button>
    </div>
  </nav>
</header>

<main class="container">
  <div class="row">
    <!-- Sección libros -->
    <section class="col-md-8">
      <app-index [books]="books" [readingList]="readingList"></app-index>
    </section>
    <!-- Sección lista de lectura -->
    <section class="col-md-4">
      <app-lista-lectura [readingList]="readingList" [books]="books"></app-lista-lectura>
    </section>  
  </div>
</main>

<footer class="text-center fixed-bottom">
  <p>Andres Mariano Fernández &copy; 2023</p>
</footer>