<article id="readbooks" class="absolute bg-books  w-48 h-[100%] top-0 -right-56 transition-all duration-200 overflow-auto">
      
   <h2 class="text-xl text-center mt-5 text-white font-semibold mb-6"><span class="text-primary">Read</span> List</h2>

   <ul class="overflow-auto ReadList">
      <li >

         <article  class="relative group flex justify-center">
            <img
              class=" w-3/4 h-full  object-cover"
              src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1485924654i/34094154.jpg"
              alt=""
            />
            <div
              class="bg-gray-950 absolute top-0 h-full w-3/4 bg-opacity-0 invisible z-30 group-hover:bg-opacity-40 
                    group-hover:visible text-white flex justify-center items-center flex-col gap-4 ">
              
                    <a href="/404" class=" w-20 h-6 rounded-md bg-primary  text-center">Read</a>
            </div>
          </article>
          
          <h3 class="text-center font-semibold  mt-2 text-xl text-white mb-4">sida</h3>
      </li>

   </ul>
</article>

<style>
	
 
	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	* {
	  scrollbar-width: auto;
	  scrollbar-color: #5350ea #ffffff;
	}
 
	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
	  width: 10px;
	}
 
	*::-webkit-scrollbar-track {
	  background: #ffffff;
	}
 
	*::-webkit-scrollbar-thumb {
	  background-color: #5350ea;
	  border-radius: 10px;
	}
 </style>
