.nav-desktop {
      display: flex;
      padding: 10px;
}

.btn-hamburguesa {
      display: none;
      width: 56px;
      height: 56px;
}

.nav-mobile {
      display: none;
}


@media (max-width:900px) {
      .nav-desktop {
            display: none;
      }

      .btn-hamburguesa {
            display: block;
      }

      .nav-mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: fixed;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            background-color: var(--color-secundario);
            padding: 10px 10px 0;
            min-width: 200px;
      }

}