<div>
      <img class="icono" src="https://i.imgur.com/7xygCwI.png" alt="">
</div>
<nav class="nav-desktop">
      <li class="cta"><span>Libros</span></li>
      <li class="cta" (click)="verMiLista()">
            <span>Mi lista</span><i class="contador">{{ misBooks.length }}</i>
      </li>      
</nav>    
<button class="btn-hamburguesa" (click)="onActive()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#000">
            <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
      </svg>
</button>
<nav class="nav-mobile" *ngIf="activo">
      <button class="btn-hamburguesa" (click)="onActive()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
      </button>
      <li class="cta">
            <span>Libros</span>
      </li>
      <li class="cta" (click)="verMiLista()">
            <span>Mi lista</span><i class="contador">{{ misBooks.length }}</i>
      </li>      
</nav>