.main{
  padding: 2em 3em;
  gap: 2em;
  display: grid;
  place-content: center;
}
.container {
  display: grid;
  grid-template-areas: "books readedbooks";
}

.books {
  grid-area: books;
  /* max-width: 750px; */
}

.books__header {
  margin: 1em 0;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em 2em;
  font: inherit;
  gap: 2em;
}

.form__range,
.form__select {
  display: flex;
  align-items: center;
  gap: 1em;
}

.form__select {
  justify-content: space-between;
}

.books__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  justify-items: center;
  list-style: none;
  margin-bottom: .4em;
  gap: .4em;
}

.books__img {
  max-width: 150px;
  border-radius: 8px;
}

aside {
  display: none;
}
.books__read {
  display: block;
  grid-area: readedbooks;
  display: flex;
  flex-direction: column;
  padding: .4em;
  border: 1px solid beige;
  border-radius: 12px;
  min-width: 300px;
}

.books__read h2 {
  margin: 1em 0;
  text-align: center;
}

.booksread__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-items: center;
  list-style: none;
}

.books__img--readed {
  width: 120px;
}

/* Animaciones */
.books__img {
  opacity: 1;
  /* Opacidad inicial del 100% */
  transition: opacity 0.5s ease;
  /* Transici칩n de opacidad con duraci칩n de 0.5 segundos y curva de aceleraci칩n "ease" */
  transition: transform 0.3s ease;
}

.books__list li:hover .books__img {
  opacity: 0.7;
  /* Al pasar el mouse, la opacidad se reduce a 70% */
  transform: scale(1.1);
  /* Aumenta el tama침o de la imagen al pasar el mouse por encima */
}


@media (width < 950px) {
  .form {
    flex-direction: column;
    gap: .6em;
  }

  .form__select select {
    min-width: 160px;
  }

  .books__read {
    max-width: 180px;
    min-width: 0;
  }
}

@media (width < 720px) {
  .container {
    gap: .4em;
    padding: 2em 1em;
  }

  .books__container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .books__img {
    width: 135px;
  }

  .form__range,
  .form__select {
    flex-direction: column;
    gap: .4em;
  }

  .form__range {
    margin-top: .6em;
  }

  .form__select select {
    min-width: 0;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (width < 450px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .books {
    margin: 0 0;
  }

  .books__img {
    width: 160px;
    max-width: 200px;
  }

  .books__read {
    width: 100%;
    max-width: 400px;
  }

  .books__img--readed {
    width: 140px;
    margin-bottom: .6em;
  }
}