<header class="border border-primary p-3 bg-secondary flex items-center gap-5">
    <h1 class="header__title drop-shadow-text font-bold">Midu Bazar</h1>
</header>

<style>
    .header__title {
		font-size: clamp(1.2em, 4vw, 2em)
	}
</style>