.randomBookContainer {
    padding: 5%;
}

.bookInspiration {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.bookInspiration .bookItem img {
    object-fit: contain;
    border-radius: 15px;
    overflow: hidden;
}

.bookItem {
    overflow: hidden;
    border-radius: 15px;
}