.container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin: 0 10px;
    padding: 30px;
    place-content: center;
    height:auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    
}

.header{
    display: block;
    width: 100%;
    text-align: center;
    
}