---
import Layout from '../layouts/Layout.astro'
---
<Layout title='Welcome to Bazar Online.'>
	<main class='grid place-content-center h-screen'>
    <section class='flex flex-col items-center gap-10'>
      <h1 class='font-bold text-3xl'>404 Not Found :(</h1>
		  <img src='https://media3.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif?cid=ecf05e47ozatwfh6k2ihnzgl9x43u0dooe6b865niffytyt2&ep=v1_gifs_search&rid=giphy.gif&ct=g'>
      <p class='text-center'>Sorry, we could't find any result :(</p>
      <p class='text-center'>But, we have some product that maybe interestingBut we have some products that may be of interest to you</p>
      <a href='http://localhost:4321/search?items=iphone' class='text-blue-300 hover:text-blue-500 hover:underline'> Iphone </a>
      <a href='http://localhost:4321/search?items=laptop' class='text-blue-300 hover:text-blue-500 hover:underline'>Laptop</a>
		</section>
	</main>
</Layout>