header{
      position: fixed;
      top: 0;
      left: 0;
      height: 100dvh;
      height: 100vh;
      padding: 10px;
      background: #e5e5da;
      opacity: 0;
      z-index: 1000;
}

header:hover{
      opacity: 1;
}

.caja-titulo{
      padding: 9% 11%;
      background-color: var(--color-secundario);
}

main button{
      background: var(--color-secundario);
      width: 56px;
      height: 56px;
      position: fixed;
      margin-left: 5px;
      top: 50%;
      border-radius: 50%;
}

app-barra-nav {
      width: 100%;
      height: 100%;
      gap: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
}