header {
      position: fixed;
      top: 0;
      left: 0;
      height: 100dvh;
      height: 100vh;
      padding: 10px;
      background: #e5e5da;
      opacity: 0;
      z-index: 1000;
}

header:hover {
      opacity: 1;
}

.caja-titulo {
      padding: 8% 11%;
      background-color: var(--color-secundario);
}

.caja-titulo h1 {
      font-size: 38px;
}


main button {
      background: var(--color-secundario);
      width: 56px;
      height: 56px;
      position: fixed;
      margin-left: 5px;
      top: 50%;
      border-radius: 50%;
}

app-barra-nav {
      width: 100%;
      height: 100%;
      gap: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

footer {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 8px;
      background: var(--color-secundario);
}

footer a i{
      fill: var(--color-detalle);
}

footer a i:hover{
      fill: var(--color-principal);
      opacity: 1;
}

@media (max-width:280px) {
      footer img{
            display: none;
      }
}