@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

.background-graniend {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35898109243697474) 9%, rgba(0, 0, 0, 0.7231267507002801) 17%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 100%);
}

.scrollbar-color {
  scrollbar-color: #ffffff #ffffff;
}

.scrollbar-color::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-colorwrap::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}