.readingList {
  min-width: 300px;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.readingList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}