.library {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: start;
  gap: 20px;
}

.library-book {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 1fr/1fr;
  grid-template-areas: "img";
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  grid-area: img;
}

.book-info {
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: opacity(.77);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  grid-area: img;
  clip-path: circle(0 at top right);
  transition: clip-path .4s;
}

.library-book:hover .book-img {
  filter: blur(2px);
}

.library-book:hover .book-info {
  clip-path: circle(150% at top right);
}

.book-info__title {
  font-weight: bold;
  filter: none;
  font-size: 30px;
}
.book-info__author {
  margin-top: 10px;
  font-size: 15px;
}



.book-info__buttons {
  margin-top: 20px;
}


.book-info__buttons-save_to_read {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border: 0;
  border-radius: 2px;
  outline: none;
  background-color: rgb(177, 174, 174);
  color: #000;
}




@media (max-width: 1700px) {
  .library {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1024px) {
  .library {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .library {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .library {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .library {
      grid-template-columns: repeat(1, 1fr);
  }
}