
@font-face {
  font-family: 'Roboto';
  src: url('../asserts/fonts/Roboto/Roboto-Bold.ttf');
  src: url('../asserts/fonts/Roboto/Roboto-Medium.ttf');
  src: url('../asserts/fonts/Roboto/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
