---
import Product from "@/components/Product.astro"
import Layout from "@/layouts/Layout.astro"
import SectionLayout from "@/layouts/SectionLayout.astro"
import data from "../../../products.json"
---

<Layout title="Midu Bazar">
	<header
		class="border border-primary p-3 bg-secondary flex items-center gap-5"
	>
		<h1 class="drop-shadow-text font-bold text-2xl">Midu Bazar</h1>
		<search class="grow">
			<form>
				<input
					class="w-full outline-0 p-2 bg-transparent drop-shadow-input border border-primary rounded-[0.2em]"
					type="text"
				/>
			</form>
		</search>
	</header>
	<main class="h-screen flex flex-col p-3">
		<section>
			<SectionLayout title="Latest products">
				<div class="latestProducts flex gap-4">
					{data.products.map((product) => <Product data={product} />)}
				</div>
			</SectionLayout>
			<SectionLayout title="Phones">
				<div class="counter" slot="counter">
					<div class="counter__line"></div>
				</div>
				<div class="latestProducts flex gap-4">
					{data.products.map((product) => <Product data={product} />)}
				</div>
			</SectionLayout>
		</section>

		<style>
			.latestProducts {
				overflow-y: scroll;
				scroll-timeline-name: --contacts-e;
				scroll-timeline-axis: inline;
			}
		</style>
	</main>
</Layout>
