---
import ProductSection from "@/components/ProductSection.astro"
import Layout from "@/layouts/Layout.astro"
import { ProductCategories } from "@/models"
import data from "../../../products.json"
---

<Layout title="Midu Bazar">
	<header
		class="border border-primary p-3 bg-secondary flex items-center gap-5"
	>
		<h1 class="drop-shadow-text font-bold text-2xl">Midu Bazar</h1>
	</header>
	<main class="flex flex-col">
		<section class="search-section flex flex-col justify-center pb-5">
			<h2 class="self-center text-[2em] font-bold drop-shadow-text">
				Search now
			</h2>
			<search class="self-center">
				<form>
					<input
						class="w-full outline-0 p-2 bg-input drop-shadow-input border border-primary rounded-[0.2em]"
						type="text"
					/>
				</form>
			</search>
		</section>
		<section class="p-3">
			<section class="flex flex-col gap-5">
				{
					Object.values(ProductCategories).map((category) => (
						<ProductSection
							title={category}
							filterByText={category}
							productList={data.products}
						/>
					))
				}
			</section>
		</section>
	</main>
</Layout>

<style>
	.search-section {
		height: 13em;
		background-color: #000000;
		opacity: 1;
		background-image: repeating-radial-gradient(
				circle at 0 0,
				transparent 0,
				#000000 40px
			),
			repeating-linear-gradient(#10101055, #101010);
	}
</style>
