{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "plugins": ["prettier-plugin-svelte"]
}