.range {
    width: 300px;
    height: 15px;
    -webkit-appearance: none;
    background: #F27405;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #502000;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #502000;
  }