/* Imports */
/*Poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

/* General */
.title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
    margin: 0;
    padding: 10px 0;
}