/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Indie flower';
    src: url('assets/fonts/IndieFlower-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  };
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  font-family: 'indie flower','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
