.list {
    background: #000;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;
    z-index: 1;
  }
  
  .list img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 2/3;
    display: block;
    object-fit: cover;
    background: #fff;
    box-shadow: 0 0 20px 20px #c9c9c91a;
  }
  
  .list li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
  }
  
  .list footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .list footer button {
    padding: 8px;
  }
  
  .list-button-toggle {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .list-button-toggle:hover {
    scale: 1.1;
  }
  
  .list-button-toggle ~ input:checked ~ .list {
    height: 100%;
    margin-top: 0px;
    display: block;
    overflow-y: scroll;
  }
  .removeAllBooksButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    background-color: #f44336;
    font-size: 12px;
    padding: 2px;
    gap: .5rem;
  }
  .removeAllBooksButton svg{
      width: 15px;
      height: 20px;

  }