---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
---
<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    className,
    "unset rounded-sm ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] border-b-2 border-transparent to-primary-yellow dark:hover:text-purple-400 hover:border-current transition text-center",
  ]}
  {...props}
><slot /></a>