---
import Projects from "./Projects.astro";
---

<section class="mb-8">
  <header class="my-12 block">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue/20 dark:to-primary-blue/70
            [text-wrap:balance]
        "
      >
        <span class="dark:text-yellow-300">Pruebas técnicas</span> de Programación
      </span>
    </h1>
  </header>
  <footer>
    <p class="mb-24">
      <strong>Practica</strong> tus habilidades de programación con pruebas técnicas de empresas reales. Usa el stack que prefieras, entrega tus ejercicios y recibe el feedback de la comunidad.
    </p>
  </footer>
</section>

<Projects />
