#root {
  max-width: 1980px;
  margin: 0 auto;
  text-align: center;
  // padding:0 2rem;
  transition: all 0.5s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  padding: 8px;
}
header {
  position: sticky;
  top: 0;  
  transition: all 0.3s ease-in-out;
  color: #000000;
}
.show-bg-nav {
  background: #000000;
  color: rgb(255, 255, 255);
  z-index: 999;
}
main {
  padding: 10px;
  margin: 80px 0;
  z-index: 1;
  position: relative; 
  transition: all 1s ease-in-out;        
}
