.dropdown-container {
    position: relative;
}

.btn {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0px 0px 5px 5px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s;
}

.dropdown-menu.open {
    opacity: 1;
    visibility: visible;
}
