.list {
    position: fixed;
    width: 50%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.list.vis {
    opacity: 1;
}

.list.hid {
    opacity: 0;
}
