nav {
    background-color: #eee5da;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    z-index: 100;
    transition: transform 0.5s ease-in-out;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem {
    font-size: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    color: #d0c2b4;
    background-color: #faf2e9;
}

.navItem:hover,
.navItem i:hover {
    color: #eee5da;
    background-color: #d0c2b4;
    cursor: pointer;
}