---
import RootLayout from '../layouts/RootLayout.astro';

import {getNumberOfBooks, getAllGenres} from '../data/books.js';
---

<RootLayout title="Libros">

	<h1>Index</h1>

	<script>
		window.location.href = '/Libros/1';
	</script>

</RootLayout>

<style>
	
</style>
