.dialog {
	background-color: var(--color-background);
	border: none;
	border-radius: var(--radius-sm);
	padding: 40px;
	margin: auto;
}

.dialog::backdrop {
	/* background-color: rgba(238, 187, 195, 0.8); */
	background-color: rgba(184, 193, 236, 0.8);
	backdrop-filter: blur(5px);
}
