.navContainer {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 999;
  padding: 2rem 0;
  background-color: #e3e5ec;
}
.navContainer .navBar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 768px) {
  .navContainer .navBar {
    flex-direction: row;
  }
}
.navContainer .navBar .filtersContainer {
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .navContainer .navBar .filtersContainer {
    width: 50%;
    justify-content: flex-start;
    gap: 2rem;
  }
}