.navContainer {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 999;
  padding: 2rem 0;
  background-color: #e3e5ec;

  .navBar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .filtersContainer {
      display: flex;
      gap: 2rem;

      @media (min-width: 768px) {
        width: 50%;
        justify-content: flex-start;
        gap: 2rem;
      }

      @media (min-width: 1024px) {
        width: 75%;
      }
    }
  }
}
