.navContainer {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 999;
  padding: 2rem 0;
  background-color: #e3e5ec;

  .navBar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .filtersContainer {
      display: flex;
      flex-wrap: wrap;
      height: 60px;
      gap: 2rem;

      @media (min-width: 768px) {
        width: 50%;
        gap: 2rem;
      }

      @media (min-width: 1024px) {
        width: 70%;
      }

      // PAGE SLIDER
      .pageRangeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10rem;

        @media (min-width: 1024px) {
          flex-direction: row;
          width: 20rem;
          gap: 1rem;
        }

        .titleContainer {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          @media (min-width: 1024px) {
            width: 50%;
          }

          .pageSliderH4 {
            display: flex;
            align-items: center;
            width: 100%;
          }
        }

        .sliderInputContainer {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          @media (min-width: 1024px) {
            width: 50%;
          }

          .slider {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            height: 2.4rem;
            border-radius: 1.2rem;
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;

            &:hover {
              opacity: 1;
            }

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              background: #353838;
              cursor: pointer;
            }

            &::-moz-range-thumb {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background: #353838;
              cursor: pointer;
            }
          }
        }
      }
      // !PAGESLIDER

      // CATEGORYFILTER
      .categoryFilter {
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        @media (min-width: 1024px) {
          width: 20rem;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
        }

        .titleContainer {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;

          @media (min-width: 1024px) {
            width: 50%;
          }

          .categoryFilterH4 {
            display: flex;
            align-items: center;
          }
        }

        .selectContainer {
          height: 3rem;
          width: 100%;
          display: flex;
          align-items: center;

          @media (min-width: 1024px) {
            width: 50%;
          }

          .selectCategoryFilter {
            width: 100%;
            height: 2.4rem;
            border-radius: 1.2rem;
            padding: 0 0.5rem;
            border: none;
            outline: none;
            font-family: "Amazon Ember Bold", sans-serif;

            option {
              padding: 1rem;
            }
          }
        }
      }
      // !CATEGORYFILTER
    }
    // NAVLINKS
    .navLinksContainer {
      width: 30rem;
      display: flex;
      font-size: 1.4rem;
      justify-content: center;
      gap: 0.1rem;

      @media (min-width: 480px) {
        font-size: 1.6rem;
        width: 40rem;
      }

      @media (min-width: 768px) {
        justify-content: flex-end;
      }

      .link {
        width: 50%;
        color: #e3e5ec;
        background-color: #353838;
        padding: 1rem;
        text-align: center;
        filter: drop-shadow(1px 1px 2px #353838cb);
        transition: background-color 0.2s ease-in;

        &:hover {
          background-color: rgba(53, 56, 56, 0.6);
        }

        &:nth-child(1) {
          border-radius: 1.2rem 0 0 1.2rem;
        }
        &:nth-child(2) {
          border-radius: 0 1.2rem 1.2rem 0;
        }
      }

      .link.active {
        color: #f49400;
        transform: scale(0.95);
        font-family: "Amazon Ember Bold", sans-serif;
        transition: background-color 1s;
        background-color: rgba(53, 56, 56, 0.6);
      }
    }
    // !NAVLINKS
  }
}
