.pageSliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 2rem;
    flex: 1;
  }
}

.pageSliderH4 {
  display: flex;
  align-items: center;
}

.sliderRange {
  height: 24rem;
}
